<a href="https://colab.research.google.com/github/daraseliya/course_date_engineer/blob/develop/Task_1_5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1.5 Практическое задание

In [ ]:
import json

In [ ]:
with open("/content/data_hh.json", "r") as file:
  data = json.load(file)

In [ ]:
data

{'data': [{'title': 'Программист Python',
   'work experience': 'Более 6 лет',
   'salary': None,
   'region': 'Москва'},
  {'title': 'Программист Python (Senior)',
   'work experience': 'Более 6 лет',
   'salary': 'от 300 000 руб.',
   'region': 'Москва'},
  {'title': 'Python developer (Openstack)',
   'work experience': 'Более 6 лет',
   'salary': None,
   'region': 'Москва'},
  {'title': 'Разработчик Python',
   'work experience': 'Более 6 лет',
   'salary': 'от 300 000 руб.',
   'region': 'Москва'},
  {'title': 'Инженер по тестированию (Python OR C++)',
   'work experience': 'Более 6 лет',
   'salary': None,
   'region': 'Москва'},
  {'title': 'Senior Python Developer',
   'work experience': 'Более 6 лет',
   'salary': 'от 6 000 USD',
   'region': 'Армения'},
  {'title': 'Middle/Senior Python-разработчик в команду Добычи данных',
   'work experience': 'Более 6 лет',
   'salary': None,
   'region': 'Санкт-Петербург'},
  {'title': 'Программист баз данных и backend (PostgreSQL, Python)',
   'work experience': 'Более 6 лет',
   'salary': 'до 300 000 руб.',
   'region': 'Москва'},
  {'title': 'Middle/Senior Python-разработчик в команду Добычи данных',
   'work experience': 'Более 6 лет',
   'salary': None,
   'region': 'Краснодар'},
  {'title': 'Team Lead Python',
   'work experience': 'Более 6 лет',
   'salary': None,
   'region': 'Москва'},
  {'title': 'Middle/Senior Python-разработчик в команду Добычи данных',
   'work experience': 'Более 6 лет',
   'salary': None,
   'region': 'Пермь'},
  {'title': 'Senior backend developer (Python)',
   'work experience': 'Более 6 лет',
   'salary': None,
   'region': 'Москва'},
  {'title': 'Senior Python разработчик',
   'work experience': 'Более 6 лет',
   'salary': None,
   'region': 'Москва'},
  {'title': 'Middle/Senior Python-разработчик в команду Добычи данных',
   'work experience': 'Более 6 лет',
   'salary': None,
   'region': 'Екатеринбург'},
  {'title': 'Middle/Senior Python-разработчик в команду Добычи данных',
   'work experience': 'Более 6 лет',
   'salary': None,
   'region': 'Новосибирск'},
  {'title': 'Middle/Senior Python-разработчик в команду Добычи данных',
   'work experience': 'Более 6 лет',
   'salary': None,
   'region': 'Казань'},
  {'title': 'Middle/Senior Python-разработчик в команду Добычи данных',
   'work experience': 'Более 6 лет',
   'salary': None,
   'region': 'Нижний Новгород'},
  {'title': 'Lead backend developer (Python)',
   'work experience': 'Более 6 лет',
   'salary': None,
   'region': 'Москва'},
  {'title': 'Senior Python Developer',
   'work experience': 'Более 6 лет',
   'salary': None,
   'region': 'Москва'},
  {'title': 'Senior Python developer (MLOps)',
   'work experience': 'Более 6 лет',
   'salary': 'от 3 500 EUR',
   'region': 'Москва'},
  {'title': 'Программист Python',
   'work experience': 'Более 6 лет',
   'salary': None,
   'region': 'Москва'},
  {'title': 'Программист Python',
   'work experience': 'Более 6 лет',
   'salary': None,
   'region': 'Москва'},
  {'title': 'Программист Python',
   'work experience': 'Более 6 лет',
   'salary': None,
   'region': 'Москва'},
  {'title': 'Программист Python (Senior)',
   'work experience': 'Более 6 лет',
   'salary': 'от 300 000 руб.',
   'region': 'Москва'},
  {'title': 'Python developer (Openstack)',
   'work experience': 'Более 6 лет',
   'salary': None,
   'region': 'Москва'},
  {'title': 'Разработчик Python',
   'work experience': 'Более 6 лет',
   'salary': 'от 300 000 руб.',
   'region': 'Москва'},
  {'title': 'Инженер по тестированию (Python OR C++)',
   'work experience': 'Более 6 лет',
   'salary': None,
   'region': 'Москва'},
  {'title': 'Senior Python Developer',
   'work experience': 'Более 6 лет',
   'salary': 'от 6 000 USD',
   'region': 'Армения'},
  {'title': 'Middle/Senior Python-разработчик в команду Добычи данных',
   'work experience': 'Более 6 лет',
   'salary': None,
   'region': 'Санкт-Петербург'},
  {'title': 'Программист баз данных и backend (PostgreSQL, Python)',
   'work experience': 'Более 6 лет',
   'salary': 'до 300 000 руб.',
   'region': 'Москва'},
  {'title': 'Middle/Senior Python-разработчик в команду Добычи данных',
   'work experience': 'Более 6 лет',
   'salary': None,
   'region': 'Краснодар'},
  {'title': 'Team Lead Python',
   'work experience': 'Более 6 лет',
   'salary': None,
   'region': 'Москва'},
  {'title': 'Middle/Senior Python-разработчик в команду Добычи данных',
   'work experience': 'Более 6 лет',
   'salary': None,
   'region': 'Пермь'},
  {'title': 'Senior backend developer (Python)',
   'work experience': 'Более 6 лет',
   'salary': None,
   'region': 'Москва'},
  {'title': 'Senior Python разработчик',
   'work experience': 'Более 6 лет',
   'salary': None,
   'region': 'Москва'},
  {'title': 'Middle/Senior Python-разработчик в команду Добычи данных',
   'work experience': 'Более 6 лет',
   'salary': None,
   'region': 'Екатеринбург'},
  {'title': 'Middle/Senior Python-разработчик в команду Добычи данных',
   'work experience': 'Более 6 лет',
   'salary': None,
   'region': 'Новосибирск'},
  {'title': 'Middle/Senior Python-разработчик в команду Добычи данных',
   'work experience': 'Более 6 лет',
   'salary': None,
   'region': 'Казань'},
  {'title': 'Middle/Senior Python-разработчик в команду Добычи данных',
   'work experience': 'Более 6 лет',
   'salary': None,
   'region': 'Нижний Новгород'},
  {'title': 'Lead backend developer (Python)',
   'work experience': 'Более 6 лет',
   'salary': None,
   'region': 'Москва'},
  {'title': 'Senior Python Developer',
   'work experience': 'Более 6 лет',
   'salary': None,
   'region': 'Москва'},
  {'title': 'Senior Python developer (MLOps)',
   'work experience': 'Более 6 лет',
   'salary': 'от 3 500 EUR',
   'region': 'Москва'},
  {'title': 'Программист Python',
   'work experience': 'Более 6 лет',
   'salary': None,
   'region': 'Москва'},
  {'title': 'Программист Python (Senior)',
   'work experience': 'Более 6 лет',
   'salary': 'от 300 000 руб.',
   'region': 'Москва'},
  {'title': 'Python developer (Openstack)',
   'work experience': 'Более 6 лет',
   'salary': None,
   'region': 'Москва'},
  {'title': 'Разработчик Python',
   'work experience': 'Более 6 лет',
   'salary': 'от 300 000 руб.',
   'region': 'Москва'},
  {'title': 'Инженер по тестированию (Python OR C++)',
   'work experience': 'Более 6 лет',
   'salary': None,
   'region': 'Москва'},
  {'title': 'Senior Python Developer',
   'work experience': 'Более 6 лет',
   'salary': 'от 6 000 USD',
   'region': 'Армения'},
  {'title': 'Middle/Senior Python-разработчик в команду Добычи данных',
   'work experience': 'Более 6 лет',
   'salary': None,
   'region': 'Санкт-Петербург'},
  {'title': 'Программист баз данных и backend (PostgreSQL, Python)',
   'work experience': 'Более 6 лет',
   'salary': 'до 300 000 руб.',
   'region': 'Москва'},
  {'title': 'Middle/Senior Python-разработчик в команду Добычи данных',
   'work experience': 'Более 6 лет',
   'salary': None,
   'region': 'Краснодар'},
  {'title': 'Team Lead Python',
   'work experience': 'Более 6 лет',
   'salary': None,
   'region': 'Москва'},
  {'title': 'Middle/Senior Python-разработчик в команду Добычи данных',
   'work experience': 'Более 6 лет',
   'salary': None,
   'region': 'Пермь'},
  {'title': 'Senior backend developer (Python)',
   'work experience': 'Более 6 лет',
   'salary': None,
   'region': 'Москва'},
  {'title': 'Senior Python разработчик',
   'work experience': 'Более 6 лет',
   'salary': None,
   'region': 'Москва'},
  {'title': 'Middle/Senior Python-разработчик в команду Добычи данных',
   'work experience': 'Более 6 лет',
   'salary': None,
   'region': 'Екатеринбург'},
  {'title': 'Middle/Senior Python-разработчик в команду Добычи данных',
   'work experience': 'Более 6 лет',
   'salary': None,
   'region': 'Новосибирск'},
  {'title': 'Middle/Senior Python-разработчик в команду Добычи данных',
   'work experience': 'Более 6 лет',
   'salary': None,
   'region': 'Казань'},
  {'title': 'Middle/Senior Python-разработчик в команду Добычи данных',
   'work experience': 'Более 6 лет',
   'salary': None,
   'region': 'Нижний Новгород'},
  {'title': 'Lead backend developer (Python)',
   'work experience': 'Более 6 лет',
   'salary': None,
   'region': 'Москва'},
  {'title': 'Senior Python Developer',
   'work experience': 'Более 6 лет',
   'salary': None,
   'region': 'Москва'},
  {'title': 'Senior Python developer (MLOps)',
   'work experience': 'Более 6 лет',
   'salary': 'от 3 500 EUR',
   'region': 'Москва'},
  {'title': 'Программист Python',
   'work experience': 'Более 6 лет',
   'salary': None,
   'region': 'Москва'},
  {'title': 'Программист Python (Senior)',
   'work experience': 'Более 6 лет',
   'salary': 'от 300 000 руб.',
   'region': 'Москва'},
  {'title': 'Python developer (Openstack)',
   'work experience': 'Более 6 лет',
   'salary': None,
   'region': 'Москва'},
  {'title': 'Разработчик Python',
   'work experience': 'Более 6 лет',
   'salary': 'от 300 000 руб.',
   'region': 'Москва'},
  {'title': 'Инженер по тестированию (Python OR C++)',
   'work experience': 'Более 6 лет',
   'salary': None,
   'region': 'Москва'},
  {'title': 'Senior Python Developer',
   'work experience': 'Более 6 лет',
   'salary': 'от 6 000 USD',
   'region': 'Армения'},
  {'title': 'Middle/Senior Python-разработчик в команду Добычи данных',
   'work experience': 'Более 6 лет',
   'salary': None,
   'region': 'Санкт-Петербург'},
  {'title': 'Программист баз данных и backend (PostgreSQL, Python)',
   'work experience': 'Более 6 лет',
   'salary': 'до 300 000 руб.',
   'region': 'Москва'},
  {'title': 'Middle/Senior Python-разработчик в команду Добычи данных',
   'work experience': 'Более 6 лет',
   'salary': None,
   'region': 'Краснодар'},
  {'title': 'Team Lead Python',
   'work experience': 'Более 6 лет',
   'salary': None,
   'region': 'Москва'},
  {'title': 'Middle/Senior Python-разработчик в команду Добычи данных',
   'work experience': 'Более 6 лет',
   'salary': None,
   'region': 'Пермь'},
  {'title': 'Senior backend developer (Python)',
   'work experience': 'Более 6 лет',
   'salary': None,
   'region': 'Москва'},
  {'title': 'Senior Python разработчик',
   'work experience': 'Более 6 лет',
   'salary': None,
   'region': 'Москва'},
  {'title': 'Middle/Senior Python-разработчик в команду Добычи данных',
   'work experience': 'Более 6 лет',
   'salary': None,
   'region': 'Екатеринбург'},
  {'title': 'Middle/Senior Python-разработчик в команду Добычи данных',
   'work experience': 'Более 6 лет',
   'salary': None,
   'region': 'Новосибирск'},
  {'title': 'Middle/Senior Python-разработчик в команду Добычи данных',
   'work experience': 'Более 6 лет',
   'salary': None,
   'region': 'Казань'},
  {'title': 'Middle/Senior Python-разработчик в команду Добычи данных',
   'work experience': 'Более 6 лет',
   'salary': None,
   'region': 'Нижний Новгород'},
  {'title': 'Lead backend developer (Python)',
   'work experience': 'Более 6 лет',
   'salary': None,
   'region': 'Москва'},
  {'title': 'Senior Python Developer',
   'work experience': 'Более 6 лет',
   'salary': None,
   'region': 'Москва'},
  {'title': 'Senior Python developer (MLOps)',
   'work experience': 'Более 6 лет',
   'salary': 'от 3 500 EUR',
   'region': 'Москва'},
  {'title': 'Программист Python',
   'work experience': 'Более 6 лет',
   'salary': None,
   'region': 'Москва'},
  {'title': 'Программист Python (Senior)',
   'work experience': 'Более 6 лет',
   'salary': 'от 300 000 руб.',
   'region': 'Москва'},
  {'title': 'Python developer (Openstack)',
   'work experience': 'Более 6 лет',
   'salary': None,
   'region': 'Москва'},
  {'title': 'Разработчик Python',
   'work experience': 'Более 6 лет',
   'salary': 'от 300 000 руб.',
   'region': 'Москва'},
  {'title': 'Инженер по тестированию (Python OR C++)',
   'work experience': 'Более 6 лет',
   'salary': None,
   'region': 'Москва'},
  {'title': 'Senior Python Developer',
   'work experience': 'Более 6 лет',
   'salary': 'от 6 000 USD',
   'region': 'Армения'},
  {'title': 'Middle/Senior Python-разработчик в команду Добычи данных',
   'work experience': 'Более 6 лет',
   'salary': None,
   'region': 'Санкт-Петербург'},
  {'title': 'Программист баз данных и backend (PostgreSQL, Python)',
   'work experience': 'Более 6 лет',
   'salary': 'до 300 000 руб.',
   'region': 'Москва'},
  {'title': 'Middle/Senior Python-разработчик в команду Добычи данных',
   'work experience': 'Более 6 лет',
   'salary': None,
   'region': 'Краснодар'},
  {'title': 'Team Lead Python',
   'work experience': 'Более 6 лет',
   'salary': None,
   'region': 'Москва'},
  {'title': 'Middle/Senior Python-разработчик в команду Добычи данных',
   'work experience': 'Более 6 лет',
   'salary': None,
   'region': 'Пермь'},
  {'title': 'Senior backend developer (Python)',
   'work experience': 'Более 6 лет',
   'salary': None,
   'region': 'Москва'},
  {'title': 'Senior Python разработчик',
   'work experience': 'Более 6 лет',
   'salary': None,
   'region': 'Москва'},
  {'title': 'Middle/Senior Python-разработчик в команду Добычи данных',
   'work experience': 'Более 6 лет',
   'salary': None,
   'region': 'Екатеринбург'},
  {'title': 'Middle/Senior Python-разработчик в команду Добычи данных',
   'work experience': 'Более 6 лет',
   'salary': None,
   'region': 'Новосибирск'},
  {'title': 'Middle/Senior Python-разработчик в команду Добычи данных',
   'work experience': 'Более 6 лет',
   'salary': None,
   'region': 'Казань'},
  {'title': 'Middle/Senior Python-разработчик в команду Добычи данных',
   'work experience': 'Более 6 лет',
   'salary': None,
   'region': 'Нижний Новгород'},
  {'title': 'Lead backend developer (Python)',
   'work experience': 'Более 6 лет',
   'salary': None,
   'region': 'Москва'},
  {'title': 'Senior Python Developer',
   'work experience': 'Более 6 лет',
   'salary': None,
   'region': 'Москва'},
  {'title': 'Senior Python developer (MLOps)',
   'work experience': 'Более 6 лет',
   'salary': 'от 3 500 EUR',
   'region': 'Москва'},
  {'title': 'Программист Python',
   'work experience': 'Более 6 лет',
   'salary': None,
   'region': 'Москва'},
  {'title': 'Программист Python (Senior)',
   'work experience': 'Более 6 лет',
   'salary': 'от 300 000 руб.',
   'region': 'Москва'},
  {'title': 'Python developer (Openstack)',
   'work experience': 'Более 6 лет',
   'salary': None,
   'region': 'Москва'},
  {'title': 'Разработчик Python',
   'work experience': 'Более 6 лет',
   'salary': 'от 300 000 руб.',
   'region': 'Москва'},
  {'title': 'Инженер по тестированию (Python OR C++)',
   'work experience': 'Более 6 лет',
   'salary': None,
   'region': 'Москва'},
  {'title': 'Senior Python Developer',
   'work experience': 'Более 6 лет',
   'salary': 'от 6 000 USD',
   'region': 'Армения'},
  {'title': 'Middle/Senior Python-разработчик в команду Добычи данных',
   'work experience': 'Более 6 лет',
   'salary': None,
   'region': 'Санкт-Петербург'},
  {'title': 'Программист баз данных и backend (PostgreSQL, Python)',
   'work experience': 'Более 6 лет',
   'salary': 'до 300 000 руб.',
   'region': 'Москва'},
  {'title': 'Middle/Senior Python-разработчик в команду Добычи данных',
   'work experience': 'Более 6 лет',
   'salary': None,
   'region': 'Краснодар'},
  {'title': 'Team Lead Python',
   'work experience': 'Более 6 лет',
   'salary': None,
   'region': 'Москва'},
  {'title': 'Middle/Senior Python-разработчик в команду Добычи данных',
   'work experience': 'Более 6 лет',
   'salary': None,
   'region': 'Пермь'},
  {'title': 'Senior backend developer (Python)',
   'work experience': 'Более 6 лет',
   'salary': None,
   'region': 'Москва'},
  {'title': 'Senior Python разработчик',
   'work experience': 'Более 6 лет',
   'salary': None,
   'region': 'Москва'},
  {'title': 'Middle/Senior Python-разработчик в команду Добычи данных',
   'work experience': 'Более 6 лет',
   'salary': None,
   'region': 'Екатеринбург'},
  {'title': 'Middle/Senior Python-разработчик в команду Добычи данных',
   'work experience': 'Более 6 лет',
   'salary': None,
   'region': 'Новосибирск'},
  {'title': 'Middle/Senior Python-разработчик в команду Добычи данных',
   'work experience': 'Более 6 лет',
   'salary': None,
   'region': 'Казань'},
  {'title': 'Middle/Senior Python-разработчик в команду Добычи данных',
   'work experience': 'Более 6 лет',
   'salary': None,
   'region': 'Нижний Новгород'},
  {'title': 'Lead backend developer (Python)',
   'work experience': 'Более 6 лет',
   'salary': None,
   'region': 'Москва'},
  {'title': 'Senior Python Developer',
   'work experience': 'Более 6 лет',
   'salary': None,
   'region': 'Москва'},
  {'title': 'Senior Python developer (MLOps)',
   'work experience': 'Более 6 лет',
   'salary': 'от 3 500 EUR',
   'region': 'Москва'},
  {'title': 'Программист Python',
   'work experience': 'Более 6 лет',
   'salary': None,
   'region': 'Москва'},
  {'title': 'Программист Python (Senior)',
   'work experience': 'Более 6 лет',
   'salary': 'от 300 000 руб.',
   'region': 'Москва'},
  {'title': 'Python developer (Openstack)',
   'work experience': 'Более 6 лет',
   'salary': None,
   'region': 'Москва'},
  {'title': 'Разработчик Python',
   'work experience': 'Более 6 лет',
   'salary': 'от 300 000 руб.',
   'region': 'Москва'},
  {'title': 'Инженер по тестированию (Python OR C++)',
   'work experience': 'Более 6 лет',
   'salary': None,
   'region': 'Москва'},
  {'title': 'Senior Python Developer',
   'work experience': 'Более 6 лет',
   'salary': 'от 6 000 USD',
   'region': 'Армения'},
  {'title': 'Middle/Senior Python-разработчик в команду Добычи данных',
   'work experience': 'Более 6 лет',
   'salary': None,
   'region': 'Санкт-Петербург'},
  {'title': 'Программист баз данных и backend (PostgreSQL, Python)',
   'work experience': 'Более 6 лет',
   'salary': 'до 300 000 руб.',
   'region': 'Москва'},
  {'title': 'Middle/Senior Python-разработчик в команду Добычи данных',
   'work experience': 'Более 6 лет',
   'salary': None,
   'region': 'Краснодар'},
  {'title': 'Team Lead Python',
   'work experience': 'Более 6 лет',
   'salary': None,
   'region': 'Москва'},
  {'title': 'Middle/Senior Python-разработчик в команду Добычи данных',
   'work experience': 'Более 6 лет',
   'salary': None,
   'region': 'Пермь'},
  {'title': 'Senior backend developer (Python)',
   'work experience': 'Более 6 лет',
   'salary': None,
   'region': 'Москва'},
  {'title': 'Senior Python разработчик',
   'work experience': 'Более 6 лет',
   'salary': None,
   'region': 'Москва'},
  {'title': 'Middle/Senior Python-разработчик в команду Добычи данных',
   'work experience': 'Более 6 лет',
   'salary': None,
   'region': 'Екатеринбург'},
  {'title': 'Middle/Senior Python-разработчик в команду Добычи данных',
   'work experience': 'Более 6 лет',
   'salary': None,
   'region': 'Новосибирск'},
  {'title': 'Middle/Senior Python-разработчик в команду Добычи данных',
   'work experience': 'Более 6 лет',
   'salary': None,
   'region': 'Казань'},
  {'title': 'Middle/Senior Python-разработчик в команду Добычи данных',
   'work experience': 'Более 6 лет',
   'salary': None,
   'region': 'Нижний Новгород'},
  {'title': 'Lead backend developer (Python)',
   'work experience': 'Более 6 лет',
   'salary': None,
   'region': 'Москва'},
  {'title': 'Senior Python Developer',
   'work experience': 'Более 6 лет',
   'salary': None,
   'region': 'Москва'},
  {'title': 'Senior Python developer (MLOps)',
   'work experience': 'Более 6 лет',
   'salary': 'от 3 500 EUR',
   'region': 'Москва'},
  {'title': 'Программист Python (Senior)',
   'work experience': 'Более 6 лет',
   'salary': 'от 300 000 руб.',
   'region': 'Москва'},
  {'title': 'Программист Python',
   'work experience': 'Более 6 лет',
   'salary': None,
   'region': 'Москва'},
  {'title': 'Разработчик Python',
   'work experience': 'Более 6 лет',
   'salary': 'от 300 000 руб.',
   'region': 'Москва'},

In [ ]:
data["data"]

[{'title': 'Программист Python',
  'work experience': 'Более 6 лет',
  'salary': None,
  'region': 'Москва'},
 {'title': 'Программист Python (Senior)',
  'work experience': 'Более 6 лет',
  'salary': 'от 300 000 руб.',
  'region': 'Москва'},
 {'title': 'Python developer (Openstack)',
  'work experience': 'Более 6 лет',
  'salary': None,
  'region': 'Москва'},
 {'title': 'Разработчик Python',
  'work experience': 'Более 6 лет',
  'salary': 'от 300 000 руб.',
  'region': 'Москва'},
 {'title': 'Инженер по тестированию (Python OR C++)',
  'work experience': 'Более 6 лет',
  'salary': None,
  'region': 'Москва'},
 {'title': 'Senior Python Developer',
  'work experience': 'Более 6 лет',
  'salary': 'от 6 000 USD',
  'region': 'Армения'},
 {'title': 'Middle/Senior Python-разработчик в команду Добычи данных',
  'work experience': 'Более 6 лет',
  'salary': None,
  'region': 'Санкт-Петербург'},
 {'title': 'Программист баз данных и backend (PostgreSQL, Python)',
  'work experience': 'Более 6 лет',
  'salary': 'до 300 000 руб.',
  'region': 'Москва'},
 {'title': 'Middle/Senior Python-разработчик в команду Добычи данных',
  'work experience': 'Более 6 лет',
  'salary': None,
  'region': 'Краснодар'},
 {'title': 'Team Lead Python',
  'work experience': 'Более 6 лет',
  'salary': None,
  'region': 'Москва'},
 {'title': 'Middle/Senior Python-разработчик в команду Добычи данных',
  'work experience': 'Более 6 лет',
  'salary': None,
  'region': 'Пермь'},
 {'title': 'Senior backend developer (Python)',
  'work experience': 'Более 6 лет',
  'salary': None,
  'region': 'Москва'},
 {'title': 'Senior Python разработчик',
  'work experience': 'Более 6 лет',
  'salary': None,
  'region': 'Москва'},
 {'title': 'Middle/Senior Python-разработчик в команду Добычи данных',
  'work experience': 'Более 6 лет',
  'salary': None,
  'region': 'Екатеринбург'},
 {'title': 'Middle/Senior Python-разработчик в команду Добычи данных',
  'work experience': 'Более 6 лет',
  'salary': None,
  'region': 'Новосибирск'},
 {'title': 'Middle/Senior Python-разработчик в команду Добычи данных',
  'work experience': 'Более 6 лет',
  'salary': None,
  'region': 'Казань'},
 {'title': 'Middle/Senior Python-разработчик в команду Добычи данных',
  'work experience': 'Более 6 лет',
  'salary': None,
  'region': 'Нижний Новгород'},
 {'title': 'Lead backend developer (Python)',
  'work experience': 'Более 6 лет',
  'salary': None,
  'region': 'Москва'},
 {'title': 'Senior Python Developer',
  'work experience': 'Более 6 лет',
  'salary': None,
  'region': 'Москва'},
 {'title': 'Senior Python developer (MLOps)',
  'work experience': 'Более 6 лет',
  'salary': 'от 3 500 EUR',
  'region': 'Москва'},
 {'title': 'Программист Python',
  'work experience': 'Более 6 лет',
  'salary': None,
  'region': 'Москва'},
 {'title': 'Программист Python',
  'work experience': 'Более 6 лет',
  'salary': None,
  'region': 'Москва'},
 {'title': 'Программист Python',
  'work experience': 'Более 6 лет',
  'salary': None,
  'region': 'Москва'},
 {'title': 'Программист Python (Senior)',
  'work experience': 'Более 6 лет',
  'salary': 'от 300 000 руб.',
  'region': 'Москва'},
 {'title': 'Python developer (Openstack)',
  'work experience': 'Более 6 лет',
  'salary': None,
  'region': 'Москва'},
 {'title': 'Разработчик Python',
  'work experience': 'Более 6 лет',
  'salary': 'от 300 000 руб.',
  'region': 'Москва'},
 {'title': 'Инженер по тестированию (Python OR C++)',
  'work experience': 'Более 6 лет',
  'salary': None,
  'region': 'Москва'},
 {'title': 'Senior Python Developer',
  'work experience': 'Более 6 лет',
  'salary': 'от 6 000 USD',
  'region': 'Армения'},
 {'title': 'Middle/Senior Python-разработчик в команду Добычи данных',
  'work experience': 'Более 6 лет',
  'salary': None,
  'region': 'Санкт-Петербург'},
 {'title': 'Программист баз данных и backend (PostgreSQL, Python)',
  'work experience': 'Более 6 лет',
  'salary': 'до 300 000 руб.',
  'region': 'Москва'},
 {'title': 'Middle/Senior Python-разработчик в команду Добычи данных',
  'work experience': 'Более 6 лет',
  'salary': None,
  'region': 'Краснодар'},
 {'title': 'Team Lead Python',
  'work experience': 'Более 6 лет',
  'salary': None,
  'region': 'Москва'},
 {'title': 'Middle/Senior Python-разработчик в команду Добычи данных',
  'work experience': 'Более 6 лет',
  'salary': None,
  'region': 'Пермь'},
 {'title': 'Senior backend developer (Python)',
  'work experience': 'Более 6 лет',
  'salary': None,
  'region': 'Москва'},
 {'title': 'Senior Python разработчик',
  'work experience': 'Более 6 лет',
  'salary': None,
  'region': 'Москва'},
 {'title': 'Middle/Senior Python-разработчик в команду Добычи данных',
  'work experience': 'Более 6 лет',
  'salary': None,
  'region': 'Екатеринбург'},
 {'title': 'Middle/Senior Python-разработчик в команду Добычи данных',
  'work experience': 'Более 6 лет',
  'salary': None,
  'region': 'Новосибирск'},
 {'title': 'Middle/Senior Python-разработчик в команду Добычи данных',
  'work experience': 'Более 6 лет',
  'salary': None,
  'region': 'Казань'},
 {'title': 'Middle/Senior Python-разработчик в команду Добычи данных',
  'work experience': 'Более 6 лет',
  'salary': None,
  'region': 'Нижний Новгород'},
 {'title': 'Lead backend developer (Python)',
  'work experience': 'Более 6 лет',
  'salary': None,
  'region': 'Москва'},
 {'title': 'Senior Python Developer',
  'work experience': 'Более 6 лет',
  'salary': None,
  'region': 'Москва'},
 {'title': 'Senior Python developer (MLOps)',
  'work experience': 'Более 6 лет',
  'salary': 'от 3 500 EUR',
  'region': 'Москва'},
 {'title': 'Программист Python',
  'work experience': 'Более 6 лет',
  'salary': None,
  'region': 'Москва'},
 {'title': 'Программист Python (Senior)',
  'work experience': 'Более 6 лет',
  'salary': 'от 300 000 руб.',
  'region': 'Москва'},
 {'title': 'Python developer (Openstack)',
  'work experience': 'Более 6 лет',
  'salary': None,
  'region': 'Москва'},
 {'title': 'Разработчик Python',
  'work experience': 'Более 6 лет',
  'salary': 'от 300 000 руб.',
  'region': 'Москва'},
 {'title': 'Инженер по тестированию (Python OR C++)',
  'work experience': 'Более 6 лет',
  'salary': None,
  'region': 'Москва'},
 {'title': 'Senior Python Developer',
  'work experience': 'Более 6 лет',
  'salary': 'от 6 000 USD',
  'region': 'Армения'},
 {'title': 'Middle/Senior Python-разработчик в команду Добычи данных',
  'work experience': 'Более 6 лет',
  'salary': None,
  'region': 'Санкт-Петербург'},
 {'title': 'Программист баз данных и backend (PostgreSQL, Python)',
  'work experience': 'Более 6 лет',
  'salary': 'до 300 000 руб.',
  'region': 'Москва'},
 {'title': 'Middle/Senior Python-разработчик в команду Добычи данных',
  'work experience': 'Более 6 лет',
  'salary': None,
  'region': 'Краснодар'},
 {'title': 'Team Lead Python',
  'work experience': 'Более 6 лет',
  'salary': None,
  'region': 'Москва'},
 {'title': 'Middle/Senior Python-разработчик в команду Добычи данных',
  'work experience': 'Более 6 лет',
  'salary': None,
  'region': 'Пермь'},
 {'title': 'Senior backend developer (Python)',
  'work experience': 'Более 6 лет',
  'salary': None,
  'region': 'Москва'},
 {'title': 'Senior Python разработчик',
  'work experience': 'Более 6 лет',
  'salary': None,
  'region': 'Москва'},
 {'title': 'Middle/Senior Python-разработчик в команду Добычи данных',
  'work experience': 'Более 6 лет',
  'salary': None,
  'region': 'Екатеринбург'},
 {'title': 'Middle/Senior Python-разработчик в команду Добычи данных',
  'work experience': 'Более 6 лет',
  'salary': None,
  'region': 'Новосибирск'},
 {'title': 'Middle/Senior Python-разработчик в команду Добычи данных',
  'work experience': 'Более 6 лет',
  'salary': None,
  'region': 'Казань'},
 {'title': 'Middle/Senior Python-разработчик в команду Добычи данных',
  'work experience': 'Более 6 лет',
  'salary': None,
  'region': 'Нижний Новгород'},
 {'title': 'Lead backend developer (Python)',
  'work experience': 'Более 6 лет',
  'salary': None,
  'region': 'Москва'},
 {'title': 'Senior Python Developer',
  'work experience': 'Более 6 лет',
  'salary': None,
  'region': 'Москва'},
 {'title': 'Senior Python developer (MLOps)',
  'work experience': 'Более 6 лет',
  'salary': 'от 3 500 EUR',
  'region': 'Москва'},
 {'title': 'Программист Python',
  'work experience': 'Более 6 лет',
  'salary': None,
  'region': 'Москва'},
 {'title': 'Программист Python (Senior)',
  'work experience': 'Более 6 лет',
  'salary': 'от 300 000 руб.',
  'region': 'Москва'},
 {'title': 'Python developer (Openstack)',
  'work experience': 'Более 6 лет',
  'salary': None,
  'region': 'Москва'},
 {'title': 'Разработчик Python',
  'work experience': 'Более 6 лет',
  'salary': 'от 300 000 руб.',
  'region': 'Москва'},
 {'title': 'Инженер по тестированию (Python OR C++)',
  'work experience': 'Более 6 лет',
  'salary': None,
  'region': 'Москва'},
 {'title': 'Senior Python Developer',
  'work experience': 'Более 6 лет',
  'salary': 'от 6 000 USD',
  'region': 'Армения'},
 {'title': 'Middle/Senior Python-разработчик в команду Добычи данных',
  'work experience': 'Более 6 лет',
  'salary': None,
  'region': 'Санкт-Петербург'},
 {'title': 'Программист баз данных и backend (PostgreSQL, Python)',
  'work experience': 'Более 6 лет',
  'salary': 'до 300 000 руб.',
  'region': 'Москва'},
 {'title': 'Middle/Senior Python-разработчик в команду Добычи данных',
  'work experience': 'Более 6 лет',
  'salary': None,
  'region': 'Краснодар'},
 {'title': 'Team Lead Python',
  'work experience': 'Более 6 лет',
  'salary': None,
  'region': 'Москва'},
 {'title': 'Middle/Senior Python-разработчик в команду Добычи данных',
  'work experience': 'Более 6 лет',
  'salary': None,
  'region': 'Пермь'},
 {'title': 'Senior backend developer (Python)',
  'work experience': 'Более 6 лет',
  'salary': None,
  'region': 'Москва'},
 {'title': 'Senior Python разработчик',
  'work experience': 'Более 6 лет',
  'salary': None,
  'region': 'Москва'},
 {'title': 'Middle/Senior Python-разработчик в команду Добычи данных',
  'work experience': 'Более 6 лет',
  'salary': None,
  'region': 'Екатеринбург'},
 {'title': 'Middle/Senior Python-разработчик в команду Добычи данных',
  'work experience': 'Более 6 лет',
  'salary': None,
  'region': 'Новосибирск'},
 {'title': 'Middle/Senior Python-разработчик в команду Добычи данных',
  'work experience': 'Более 6 лет',
  'salary': None,
  'region': 'Казань'},
 {'title': 'Middle/Senior Python-разработчик в команду Добычи данных',
  'work experience': 'Более 6 лет',
  'salary': None,
  'region': 'Нижний Новгород'},
 {'title': 'Lead backend developer (Python)',
  'work experience': 'Более 6 лет',
  'salary': None,
  'region': 'Москва'},
 {'title': 'Senior Python Developer',
  'work experience': 'Более 6 лет',
  'salary': None,
  'region': 'Москва'},
 {'title': 'Senior Python developer (MLOps)',
  'work experience': 'Более 6 лет',
  'salary': 'от 3 500 EUR',
  'region': 'Москва'},
 {'title': 'Программист Python',
  'work experience': 'Более 6 лет',
  'salary': None,
  'region': 'Москва'},
 {'title': 'Программист Python (Senior)',
  'work experience': 'Более 6 лет',
  'salary': 'от 300 000 руб.',
  'region': 'Москва'},
 {'title': 'Python developer (Openstack)',
  'work experience': 'Более 6 лет',
  'salary': None,
  'region': 'Москва'},
 {'title': 'Разработчик Python',
  'work experience': 'Более 6 лет',
  'salary': 'от 300 000 руб.',
  'region': 'Москва'},
 {'title': 'Инженер по тестированию (Python OR C++)',
  'work experience': 'Более 6 лет',
  'salary': None,
  'region': 'Москва'},
 {'title': 'Senior Python Developer',
  'work experience': 'Более 6 лет',
  'salary': 'от 6 000 USD',
  'region': 'Армения'},
 {'title': 'Middle/Senior Python-разработчик в команду Добычи данных',
  'work experience': 'Более 6 лет',
  'salary': None,
  'region': 'Санкт-Петербург'},
 {'title': 'Программист баз данных и backend (PostgreSQL, Python)',
  'work experience': 'Более 6 лет',
  'salary': 'до 300 000 руб.',
  'region': 'Москва'},
 {'title': 'Middle/Senior Python-разработчик в команду Добычи данных',
  'work experience': 'Более 6 лет',
  'salary': None,
  'region': 'Краснодар'},
 {'title': 'Team Lead Python',
  'work experience': 'Более 6 лет',
  'salary': None,
  'region': 'Москва'},
 {'title': 'Middle/Senior Python-разработчик в команду Добычи данных',
  'work experience': 'Более 6 лет',
  'salary': None,
  'region': 'Пермь'},
 {'title': 'Senior backend developer (Python)',
  'work experience': 'Более 6 лет',
  'salary': None,
  'region': 'Москва'},
 {'title': 'Senior Python разработчик',
  'work experience': 'Более 6 лет',
  'salary': None,
  'region': 'Москва'},
 {'title': 'Middle/Senior Python-разработчик в команду Добычи данных',
  'work experience': 'Более 6 лет',
  'salary': None,
  'region': 'Екатеринбург'},
 {'title': 'Middle/Senior Python-разработчик в команду Добычи данных',
  'work experience': 'Более 6 лет',
  'salary': None,
  'region': 'Новосибирск'},
 {'title': 'Middle/Senior Python-разработчик в команду Добычи данных',
  'work experience': 'Более 6 лет',
  'salary': None,
  'region': 'Казань'},
 {'title': 'Middle/Senior Python-разработчик в команду Добычи данных',
  'work experience': 'Более 6 лет',
  'salary': None,
  'region': 'Нижний Новгород'},
 {'title': 'Lead backend developer (Python)',
  'work experience': 'Более 6 лет',
  'salary': None,
  'region': 'Москва'},
 {'title': 'Senior Python Developer',
  'work experience': 'Более 6 лет',
  'salary': None,
  'region': 'Москва'},
 {'title': 'Senior Python developer (MLOps)',
  'work experience': 'Более 6 лет',
  'salary': 'от 3 500 EUR',
  'region': 'Москва'},
 {'title': 'Программист Python',
  'work experience': 'Более 6 лет',
  'salary': None,
  'region': 'Москва'},
 {'title': 'Программист Python (Senior)',
  'work experience': 'Более 6 лет',
  'salary': 'от 300 000 руб.',
  'region': 'Москва'},
 {'title': 'Python developer (Openstack)',
  'work experience': 'Более 6 лет',
  'salary': None,
  'region': 'Москва'},
 {'title': 'Разработчик Python',
  'work experience': 'Более 6 лет',
  'salary': 'от 300 000 руб.',
  'region': 'Москва'},
 {'title': 'Инженер по тестированию (Python OR C++)',
  'work experience': 'Более 6 лет',
  'salary': None,
  'region': 'Москва'},
 {'title': 'Senior Python Developer',
  'work experience': 'Более 6 лет',
  'salary': 'от 6 000 USD',
  'region': 'Армения'},
 {'title': 'Middle/Senior Python-разработчик в команду Добычи данных',
  'work experience': 'Более 6 лет',
  'salary': None,
  'region': 'Санкт-Петербург'},
 {'title': 'Программист баз данных и backend (PostgreSQL, Python)',
  'work experience': 'Более 6 лет',
  'salary': 'до 300 000 руб.',
  'region': 'Москва'},
 {'title': 'Middle/Senior Python-разработчик в команду Добычи данных',
  'work experience': 'Более 6 лет',
  'salary': None,
  'region': 'Краснодар'},
 {'title': 'Team Lead Python',
  'work experience': 'Более 6 лет',
  'salary': None,
  'region': 'Москва'},
 {'title': 'Middle/Senior Python-разработчик в команду Добычи данных',
  'work experience': 'Более 6 лет',
  'salary': None,
  'region': 'Пермь'},
 {'title': 'Senior backend developer (Python)',
  'work experience': 'Более 6 лет',
  'salary': None,
  'region': 'Москва'},
 {'title': 'Senior Python разработчик',
  'work experience': 'Более 6 лет',
  'salary': None,
  'region': 'Москва'},
 {'title': 'Middle/Senior Python-разработчик в команду Добычи данных',
  'work experience': 'Более 6 лет',
  'salary': None,
  'region': 'Екатеринбург'},
 {'title': 'Middle/Senior Python-разработчик в команду Добычи данных',
  'work experience': 'Более 6 лет',
  'salary': None,
  'region': 'Новосибирск'},
 {'title': 'Middle/Senior Python-разработчик в команду Добычи данных',
  'work experience': 'Более 6 лет',
  'salary': None,
  'region': 'Казань'},
 {'title': 'Middle/Senior Python-разработчик в команду Добычи данных',
  'work experience': 'Более 6 лет',
  'salary': None,
  'region': 'Нижний Новгород'},
 {'title': 'Lead backend developer (Python)',
  'work experience': 'Более 6 лет',
  'salary': None,
  'region': 'Москва'},
 {'title': 'Senior Python Developer',
  'work experience': 'Более 6 лет',
  'salary': None,
  'region': 'Москва'},
 {'title': 'Senior Python developer (MLOps)',
  'work experience': 'Более 6 лет',
  'salary': 'от 3 500 EUR',
  'region': 'Москва'},
 {'title': 'Программист Python',
  'work experience': 'Более 6 лет',
  'salary': None,
  'region': 'Москва'},
 {'title': 'Программист Python (Senior)',
  'work experience': 'Более 6 лет',
  'salary': 'от 300 000 руб.',
  'region': 'Москва'},
 {'title': 'Python developer (Openstack)',
  'work experience': 'Более 6 лет',
  'salary': None,
  'region': 'Москва'},
 {'title': 'Разработчик Python',
  'work experience': 'Более 6 лет',
  'salary': 'от 300 000 руб.',
  'region': 'Москва'},
 {'title': 'Инженер по тестированию (Python OR C++)',
  'work experience': 'Более 6 лет',
  'salary': None,
  'region': 'Москва'},
 {'title': 'Senior Python Developer',
  'work experience': 'Более 6 лет',
  'salary': 'от 6 000 USD',
  'region': 'Армения'},
 {'title': 'Middle/Senior Python-разработчик в команду Добычи данных',
  'work experience': 'Более 6 лет',
  'salary': None,
  'region': 'Санкт-Петербург'},
 {'title': 'Программист баз данных и backend (PostgreSQL, Python)',
  'work experience': 'Более 6 лет',
  'salary': 'до 300 000 руб.',
  'region': 'Москва'},
 {'title': 'Middle/Senior Python-разработчик в команду Добычи данных',
  'work experience': 'Более 6 лет',
  'salary': None,
  'region': 'Краснодар'},
 {'title': 'Team Lead Python',
  'work experience': 'Более 6 лет',
  'salary': None,
  'region': 'Москва'},
 {'title': 'Middle/Senior Python-разработчик в команду Добычи данных',
  'work experience': 'Более 6 лет',
  'salary': None,
  'region': 'Пермь'},
 {'title': 'Senior backend developer (Python)',
  'work experience': 'Более 6 лет',
  'salary': None,
  'region': 'Москва'},
 {'title': 'Senior Python разработчик',
  'work experience': 'Более 6 лет',
  'salary': None,
  'region': 'Москва'},
 {'title': 'Middle/Senior Python-разработчик в команду Добычи данных',
  'work experience': 'Более 6 лет',
  'salary': None,
  'region': 'Екатеринбург'},
 {'title': 'Middle/Senior Python-разработчик в команду Добычи данных',
  'work experience': 'Более 6 лет',
  'salary': None,
  'region': 'Новосибирск'},
 {'title': 'Middle/Senior Python-разработчик в команду Добычи данных',
  'work experience': 'Более 6 лет',
  'salary': None,
  'region': 'Казань'},
 {'title': 'Middle/Senior Python-разработчик в команду Добычи данных',
  'work experience': 'Более 6 лет',
  'salary': None,
  'region': 'Нижний Новгород'},
 {'title': 'Lead backend developer (Python)',
  'work experience': 'Более 6 лет',
  'salary': None,
  'region': 'Москва'},
 {'title': 'Senior Python Developer',
  'work experience': 'Более 6 лет',
  'salary': None,
  'region': 'Москва'},
 {'title': 'Senior Python developer (MLOps)',
  'work experience': 'Более 6 лет',
  'salary': 'от 3 500 EUR',
  'region': 'Москва'},
 {'title': 'Программист Python (Senior)',
  'work experience': 'Более 6 лет',
  'salary': 'от 300 000 руб.',
  'region': 'Москва'},
 {'title': 'Программист Python',
  'work experience': 'Более 6 лет',
  'salary': None,
  'region': 'Москва'},
 {'title': 'Разработчик Python',
  'work experience': 'Более 6 лет',
  'salary': 'от 300 000 руб.',
  'region': 'Москва'},
 {'title': 'Senior Python Developer',
  'work experience': 'Более 6 лет',
  'salary': 'от 6 000 USD',
  'region': 'Армения'},
 {'title': 'Python developer (Openstack)',
  'work experience': 'Более 6 лет',
  'salary': None,
  'region': 'Москва'},
 {'title': 'Middle/Senior Python-разработчик в команду Добычи данных',
  'work experience': 'Более 6 лет',
  'salary': None,
  'region': 'Санкт-Петербург'},
 {'title': 'Middle/Senior Python-разработчик в команду Добычи данных',
  'work experience': 'Более 6 лет',
  'salary': None,
  'region': 'Краснодар'},
 {'title': 'Senior Python разработчик',

In [ ]:
for i in data["data"]:
  print(i)

{'title': 'Программист Python', 'work experience': 'Более 6 лет', 'salary': None, 'region': 'Москва'}
{'title': 'Программист Python (Senior)', 'work experience': 'Более 6 лет', 'salary': 'от 300 000 руб.', 'region': 'Москва'}
{'title': 'Python developer (Openstack)', 'work experience': 'Более 6 лет', 'salary': None, 'region': 'Москва'}
{'title': 'Разработчик Python', 'work experience': 'Более 6 лет', 'salary': 'от 300 000 руб.', 'region': 'Москва'}
{'title': 'Инженер по тестированию (Python OR C++)', 'work experience': 'Более 6 лет', 'salary': None, 'region': 'Москва'}
{'title': 'Senior Python Developer', 'work experience': 'Более 6 лет', 'salary': 'от 6 000 USD', 'region': 'Армения'}
{'title': 'Middle/Senior Python-разработчик в команду Добычи данных', 'work experience': 'Более 6 лет', 'salary': None, 'region': 'Санкт-Петербург'}
{'title': 'Программист баз данных и backend (PostgreSQL, Python)', 'work experience': 'Более 6 лет', 'salary': 'до 300 000 руб.', 'region': 'Москва'}
{'title': 'Middle/Senior Python-разработчик в команду Добычи данных', 'work experience': 'Более 6 лет', 'salary': None, 'region': 'Краснодар'}
{'title': 'Team Lead Python', 'work experience': 'Более 6 лет', 'salary': None, 'region': 'Москва'}
{'title': 'Middle/Senior Python-разработчик в команду Добычи данных', 'work experience': 'Более 6 лет', 'salary': None, 'region': 'Пермь'}
{'title': 'Senior backend developer (Python)', 'work experience': 'Более 6 лет', 'salary': None, 'region': 'Москва'}
{'title': 'Senior Python разработчик', 'work experience': 'Более 6 лет', 'salary': None, 'region': 'Москва'}
{'title': 'Middle/Senior Python-разработчик в команду Добычи данных', 'work experience': 'Более 6 лет', 'salary': None, 'region': 'Екатеринбург'}
{'title': 'Middle/Senior Python-разработчик в команду Добычи данных', 'work experience': 'Более 6 лет', 'salary': None, 'region': 'Новосибирск'}
{'title': 'Middle/Senior Python-разработчик в команду Добычи данных', 'work experience': 'Более 6 лет', 'salary': None, 'region': 'Казань'}
{'title': 'Middle/Senior Python-разработчик в команду Добычи данных', 'work experience': 'Более 6 лет', 'salary': None, 'region': 'Нижний Новгород'}
{'title': 'Lead backend developer (Python)', 'work experience': 'Более 6 лет', 'salary': None, 'region': 'Москва'}
{'title': 'Senior Python Developer', 'work experience': 'Более 6 лет', 'salary': None, 'region': 'Москва'}
{'title': 'Senior Python developer (MLOps)', 'work experience': 'Более 6 лет', 'salary': 'от 3 500 EUR', 'region': 'Москва'}
{'title': 'Программист Python', 'work experience': 'Более 6 лет', 'salary': None, 'region': 'Москва'}
{'title': 'Программист Python', 'work experience': 'Более 6 лет', 'salary': None, 'region': 'Москва'}
{'title': 'Программист Python', 'work experience': 'Более 6 лет', 'salary': None, 'region': 'Москва'}
{'title': 'Программист Python (Senior)', 'work experience': 'Более 6 лет', 'salary': 'от 300 000 руб.', 'region': 'Москва'}
{'title': 'Python developer (Openstack)', 'work experience': 'Более 6 лет', 'salary': None, 'region': 'Москва'}
{'title': 'Разработчик Python', 'work experience': 'Более 6 лет', 'salary': 'от 300 000 руб.', 'region': 'Москва'}
{'title': 'Инженер по тестированию (Python OR C++)', 'work experience': 'Более 6 лет', 'salary': None, 'region': 'Москва'}
{'title': 'Senior Python Developer', 'work experience': 'Более 6 лет', 'salary': 'от 6 000 USD', 'region': 'Армения'}
{'title': 'Middle/Senior Python-разработчик в команду Добычи данных', 'work experience': 'Более 6 лет', 'salary': None, 'region': 'Санкт-Петербург'}
{'title': 'Программист баз данных и backend (PostgreSQL, Python)', 'work experience': 'Более 6 лет', 'salary': 'до 300 000 руб.', 'region': 'Москва'}
{'title': 'Middle/Senior Python-разработчик в команду Добычи данных', 'work experience': 'Более 6 лет', 'salary': None, 'region': 'Краснодар'}
{'title': 'Team Lead Python', 'work experience': 'Более 6 лет', 'salary': None, 'region': 'Москва'}
{'title': 'Middle/Senior Python-разработчик в команду Добычи данных', 'work experience': 'Более 6 лет', 'salary': None, 'region': 'Пермь'}
{'title': 'Senior backend developer (Python)', 'work experience': 'Более 6 лет', 'salary': None, 'region': 'Москва'}
{'title': 'Senior Python разработчик', 'work experience': 'Более 6 лет', 'salary': None, 'region': 'Москва'}
{'title': 'Middle/Senior Python-разработчик в команду Добычи данных', 'work experience': 'Более 6 лет', 'salary': None, 'region': 'Екатеринбург'}
{'title': 'Middle/Senior Python-разработчик в команду Добычи данных', 'work experience': 'Более 6 лет', 'salary': None, 'region': 'Новосибирск'}
{'title': 'Middle/Senior Python-разработчик в команду Добычи данных', 'work experience': 'Более 6 лет', 'salary': None, 'region': 'Казань'}
{'title': 'Middle/Senior Python-разработчик в команду Добычи данных', 'work experience': 'Более 6 лет', 'salary': None, 'region': 'Нижний Новгород'}
{'title': 'Lead backend developer (Python)', 'work experience': 'Более 6 лет', 'salary': None, 'region': 'Москва'}
{'title': 'Senior Python Developer', 'work experience': 'Более 6 лет', 'salary': None, 'region': 'Москва'}
{'title': 'Senior Python developer (MLOps)', 'work experience': 'Более 6 лет', 'salary': 'от 3 500 EUR', 'region': 'Москва'}
{'title': 'Программист Python', 'work experience': 'Более 6 лет', 'salary': None, 'region': 'Москва'}
{'title': 'Программист Python (Senior)', 'work experience': 'Более 6 лет', 'salary': 'от 300 000 руб.', 'region': 'Москва'}
{'title': 'Python developer (Openstack)', 'work experience': 'Более 6 лет', 'salary': None, 'region': 'Москва'}
{'title': 'Разработчик Python', 'work experience': 'Более 6 лет', 'salary': 'от 300 000 руб.', 'region': 'Москва'}
{'title': 'Инженер по тестированию (Python OR C++)', 'work experience': 'Более 6 лет', 'salary': None, 'region': 'Москва'}
{'title': 'Senior Python Developer', 'work experience': 'Более 6 лет', 'salary': 'от 6 000 USD', 'region': 'Армения'}
{'title': 'Middle/Senior Python-разработчик в команду Добычи данных', 'work experience': 'Более 6 лет', 'salary': None, 'region': 'Санкт-Петербург'}
{'title': 'Программист баз данных и backend (PostgreSQL, Python)', 'work experience': 'Более 6 лет', 'salary': 'до 300 000 руб.', 'region': 'Москва'}
{'title': 'Middle/Senior Python-разработчик в команду Добычи данных', 'work experience': 'Более 6 лет', 'salary': None, 'region': 'Краснодар'}
{'title': 'Team Lead Python', 'work experience': 'Более 6 лет', 'salary': None, 'region': 'Москва'}
{'title': 'Middle/Senior Python-разработчик в команду Добычи данных', 'work experience': 'Более 6 лет', 'salary': None, 'region': 'Пермь'}
{'title': 'Senior backend developer (Python)', 'work experience': 'Более 6 лет', 'salary': None, 'region': 'Москва'}
{'title': 'Senior Python разработчик', 'work experience': 'Более 6 лет', 'salary': None, 'region': 'Москва'}
{'title': 'Middle/Senior Python-разработчик в команду Добычи данных', 'work experience': 'Более 6 лет', 'salary': None, 'region': 'Екатеринбург'}
{'title': 'Middle/Senior Python-разработчик в команду Добычи данных', 'work experience': 'Более 6 лет', 'salary': None, 'region': 'Новосибирск'}
{'title': 'Middle/Senior Python-разработчик в команду Добычи данных', 'work experience': 'Более 6 лет', 'salary': None, 'region': 'Казань'}
{'title': 'Middle/Senior Python-разработчик в команду Добычи данных', 'work experience': 'Более 6 лет', 'salary': None, 'region': 'Нижний Новгород'}
{'title': 'Lead backend developer (Python)', 'work experience': 'Более 6 лет', 'salary': None, 'region': 'Москва'}
{'title': 'Senior Python Developer', 'work experience': 'Более 6 лет', 'salary': None, 'region': 'Москва'}
{'title': 'Senior Python developer (MLOps)', 'work experience': 'Более 6 лет', 'salary': 'от 3 500 EUR', 'region': 'Москва'}
{'title': 'Программист Python', 'work experience': 'Более 6 лет', 'salary': None, 'region': 'Москва'}
{'title': 'Программист Python (Senior)', 'work experience': 'Более 6 лет', 'salary': 'от 300 000 руб.', 'region': 'Москва'}
{'title': 'Python developer (Openstack)', 'work experience': 'Более 6 лет', 'salary': None, 'region': 'Москва'}
{'title': 'Разработчик Python', 'work experience': 'Более 6 лет', 'salary': 'от 300 000 руб.', 'region': 'Москва'}
{'title': 'Инженер по тестированию (Python OR C++)', 'work experience': 'Более 6 лет', 'salary': None, 'region': 'Москва'}
{'title': 'Senior Python Developer', 'work experience': 'Более 6 лет', 'salary': 'от 6 000 USD', 'region': 'Армения'}
{'title': 'Middle/Senior Python-разработчик в команду Добычи данных', 'work experience': 'Более 6 лет', 'salary': None, 'region': 'Санкт-Петербург'}
{'title': 'Программист баз данных и backend (PostgreSQL, Python)', 'work experience': 'Более 6 лет', 'salary': 'до 300 000 руб.', 'region': 'Москва'}
{'title': 'Middle/Senior Python-разработчик в команду Добычи данных', 'work experience': 'Более 6 лет', 'salary': None, 'region': 'Краснодар'}
{'title': 'Team Lead Python', 'work experience': 'Более 6 лет', 'salary': None, 'region': 'Москва'}
{'title': 'Middle/Senior Python-разработчик в команду Добычи данных', 'work experience': 'Более 6 лет', 'salary': None, 'region': 'Пермь'}
{'title': 'Senior backend developer (Python)', 'work experience': 'Более 6 лет', 'salary': None, 'region': 'Москва'}
{'title': 'Senior Python разработчик', 'work experience': 'Более 6 лет', 'salary': None, 'region': 'Москва'}
{'title': 'Middle/Senior Python-разработчик в команду Добычи данных', 'work experience': 'Более 6 лет', 'salary': None, 'region': 'Екатеринбург'}
{'title': 'Middle/Senior Python-разработчик в команду Добычи данных', 'work experience': 'Более 6 лет', 'salary': None, 'region': 'Новосибирск'}
{'title': 'Middle/Senior Python-разработчик в команду Добычи данных', 'work experience': 'Более 6 лет', 'salary': None, 'region': 'Казань'}
{'title': 'Middle/Senior Python-разработчик в команду Добычи данных', 'work experience': 'Более 6 лет', 'salary': None, 'region': 'Нижний Новгород'}
{'title': 'Lead backend developer (Python)', 'work experience': 'Более 6 лет', 'salary': None, 'region': 'Москва'}
{'title': 'Senior Python Developer', 'work experience': 'Более 6 лет', 'salary': None, 'region': 'Москва'}
{'title': 'Senior Python developer (MLOps)', 'work experience': 'Более 6 лет', 'salary': 'от 3 500 EUR', 'region': 'Москва'}
{'title': 'Программист Python', 'work experience': 'Более 6 лет', 'salary': None, 'region': 'Москва'}
{'title': 'Программист Python (Senior)', 'work experience': 'Более 6 лет', 'salary': 'от 300 000 руб.', 'region': 'Москва'}
{'title': 'Python developer (Openstack)', 'work experience': 'Более 6 лет', 'salary': None, 'region': 'Москва'}
{'title': 'Разработчик Python', 'work experience': 'Более 6 лет', 'salary': 'от 300 000 руб.', 'region': 'Москва'}
{'title': 'Инженер по тестированию (Python OR C++)', 'work experience': 'Более 6 лет', 'salary': None, 'region': 'Москва'}
{'title': 'Senior Python Developer', 'work experience': 'Более 6 лет', 'salary': 'от 6 000 USD', 'region': 'Армения'}
{'title': 'Middle/Senior Python-разработчик в команду Добычи данных', 'work experience': 'Более 6 лет', 'salary': None, 'region': 'Санкт-Петербург'}
{'title': 'Программист баз данных и backend (PostgreSQL, Python)', 'work experience': 'Более 6 лет', 'salary': 'до 300 000 руб.', 'region': 'Москва'}
{'title': 'Middle/Senior Python-разработчик в команду Добычи данных', 'work experience': 'Более 6 лет', 'salary': None, 'region': 'Краснодар'}
{'title': 'Team Lead Python', 'work experience': 'Более 6 лет', 'salary': None, 'region': 'Москва'}
{'title': 'Middle/Senior Python-разработчик в команду Добычи данных', 'work experience': 'Более 6 лет', 'salary': None, 'region': 'Пермь'}
{'title': 'Senior backend developer (Python)', 'work experience': 'Более 6 лет', 'salary': None, 'region': 'Москва'}
{'title': 'Senior Python разработчик', 'work experience': 'Более 6 лет', 'salary': None, 'region': 'Москва'}
{'title': 'Middle/Senior Python-разработчик в команду Добычи данных', 'work experience': 'Более 6 лет', 'salary': None, 'region': 'Екатеринбург'}
{'title': 'Middle/Senior Python-разработчик в команду Добычи данных', 'work experience': 'Более 6 лет', 'salary': None, 'region': 'Новосибирск'}
{'title': 'Middle/Senior Python-разработчик в команду Добычи данных', 'work experience': 'Более 6 лет', 'salary': None, 'region': 'Казань'}
{'title': 'Middle/Senior Python-разработчик в команду Добычи данных', 'work experience': 'Более 6 лет', 'salary': None, 'region': 'Нижний Новгород'}
{'title': 'Lead backend developer (Python)', 'work experience': 'Более 6 лет', 'salary': None, 'region': 'Москва'}
{'title': 'Senior Python Developer', 'work experience': 'Более 6 лет', 'salary': None, 'region': 'Москва'}
{'title': 'Senior Python developer (MLOps)', 'work experience': 'Более 6 лет', 'salary': 'от 3 500 EUR', 'region': 'Москва'}
{'title': 'Программист Python', 'work experience': 'Более 6 лет', 'salary': None, 'region': 'Москва'}
{'title': 'Программист Python (Senior)', 'work experience': 'Более 6 лет', 'salary': 'от 300 000 руб.', 'region': 'Москва'}
{'title': 'Python developer (Openstack)', 'work experience': 'Более 6 лет', 'salary': None, 'region': 'Москва'}
{'title': 'Разработчик Python', 'work experience': 'Более 6 лет', 'salary': 'от 300 000 руб.', 'region': 'Москва'}
{'title': 'Инженер по тестированию (Python OR C++)', 'work experience': 'Более 6 лет', 'salary': None, 'region': 'Москва'}
{'title': 'Senior Python Developer', 'work experience': 'Более 6 лет', 'salary': 'от 6 000 USD', 'region': 'Армения'}
{'title': 'Middle/Senior Python-разработчик в команду Добычи данных', 'work experience': 'Более 6 лет', 'salary': None, 'region': 'Санкт-Петербург'}
{'title': 'Программист баз данных и backend (PostgreSQL, Python)', 'work experience': 'Более 6 лет', 'salary': 'до 300 000 руб.', 'region': 'Москва'}
{'title': 'Middle/Senior Python-разработчик в команду Добычи данных', 'work experience': 'Более 6 лет', 'salary': None, 'region': 'Краснодар'}
{'title': 'Team Lead Python', 'work experience': 'Более 6 лет', 'salary': None, 'region': 'Москва'}
{'title': 'Middle/Senior Python-разработчик в команду Добычи данных', 'work experience': 'Более 6 лет', 'salary': None, 'region': 'Пермь'}
{'title': 'Senior backend developer (Python)', 'work experience': 'Более 6 лет', 'salary': None, 'region': 'Москва'}
{'title': 'Senior Python разработчик', 'work experience': 'Более 6 лет', 'salary': None, 'region': 'Москва'}
{'title': 'Middle/Senior Python-разработчик в команду Добычи данных', 'work experience': 'Более 6 лет', 'salary': None, 'region': 'Екатеринбург'}
{'title': 'Middle/Senior Python-разработчик в команду Добычи данных', 'work experience': 'Более 6 лет', 'salary': None, 'region': 'Новосибирск'}
{'title': 'Middle/Senior Python-разработчик в команду Добычи данных', 'work experience': 'Более 6 лет', 'salary': None, 'region': 'Казань'}
{'title': 'Middle/Senior Python-разработчик в команду Добычи данных', 'work experience': 'Более 6 лет', 'salary': None, 'region': 'Нижний Новгород'}
{'title': 'Lead backend developer (Python)', 'work experience': 'Более 6 лет', 'salary': None, 'region': 'Москва'}
{'title': 'Senior Python Developer', 'work experience': 'Более 6 лет', 'salary': None, 'region': 'Москва'}
{'title': 'Senior Python developer (MLOps)', 'work experience': 'Более 6 лет', 'salary': 'от 3 500 EUR', 'region': 'Москва'}
{'title': 'Программист Python', 'work experience': 'Более 6 лет', 'salary': None, 'region': 'Москва'}
{'title': 'Программист Python (Senior)', 'work experience': 'Более 6 лет', 'salary': 'от 300 000 руб.', 'region': 'Москва'}
{'title': 'Python developer (Openstack)', 'work experience': 'Более 6 лет', 'salary': None, 'region': 'Москва'}
{'title': 'Разработчик Python', 'work experience': 'Более 6 лет', 'salary': 'от 300 000 руб.', 'region': 'Москва'}
{'title': 'Инженер по тестированию (Python OR C++)', 'work experience': 'Более 6 лет', 'salary': None, 'region': 'Москва'}
{'title': 'Senior Python Developer', 'work experience': 'Более 6 лет', 'salary': 'от 6 000 USD', 'region': 'Армения'}
{'title': 'Middle/Senior Python-разработчик в команду Добычи данных', 'work experience': 'Более 6 лет', 'salary': None, 'region': 'Санкт-Петербург'}
{'title': 'Программист баз данных и backend (PostgreSQL, Python)', 'work experience': 'Более 6 лет', 'salary': 'до 300 000 руб.', 'region': 'Москва'}
{'title': 'Middle/Senior Python-разработчик в команду Добычи данных', 'work experience': 'Более 6 лет', 'salary': None, 'region': 'Краснодар'}
{'title': 'Team Lead Python', 'work experience': 'Более 6 лет', 'salary': None, 'region': 'Москва'}
{'title': 'Middle/Senior Python-разработчик в команду Добычи данных', 'work experience': 'Более 6 лет', 'salary': None, 'region': 'Пермь'}
{'title': 'Senior backend developer (Python)', 'work experience': 'Более 6 лет', 'salary': None, 'region': 'Москва'}
{'title': 'Senior Python разработчик', 'work experience': 'Более 6 лет', 'salary': None, 'region': 'Москва'}
{'title': 'Middle/Senior Python-разработчик в команду Добычи данных', 'work experience': 'Более 6 лет', 'salary': None, 'region': 'Екатеринбург'}
{'title': 'Middle/Senior Python-разработчик в команду Добычи данных', 'work experience': 'Более 6 лет', 'salary': None, 'region': 'Новосибирск'}
{'title': 'Middle/Senior Python-разработчик в команду Добычи данных', 'work experience': 'Более 6 лет', 'salary': None, 'region': 'Казань'}
{'title': 'Middle/Senior Python-разработчик в команду Добычи данных', 'work experience': 'Более 6 лет', 'salary': None, 'region': 'Нижний Новгород'}
{'title': 'Lead backend developer (Python)', 'work experience': 'Более 6 лет', 'salary': None, 'region': 'Москва'}
{'title': 'Senior Python Developer', 'work experience': 'Более 6 лет', 'salary': None, 'region': 'Москва'}
{'title': 'Senior Python developer (MLOps)', 'work experience': 'Более 6 лет', 'salary': 'от 3 500 EUR', 'region': 'Москва'}
{'title': 'Программист Python (Senior)', 'work experience': 'Более 6 лет', 'salary': 'от 300 000 руб.', 'region': 'Москва'}
{'title': 'Программист Python', 'work experience': 'Более 6 лет', 'salary': None, 'region': 'Москва'}
{'title': 'Разработчик Python', 'work experience': 'Более 6 лет', 'salary': 'от 300 000 руб.', 'region': 'Москва'}
{'title': 'Senior Python Developer', 'work experience': 'Более 6 лет', 'salary': 'от 6 000 USD', 'region': 'Армения'}
{'title': 'Python developer (Openstack)', 'work experience': 'Более 6 лет', 'salary': None, 'region': 'Москва'}
{'title': 'Middle/Senior Python-разработчик в команду Добычи данных', 'work experience': 'Более 6 лет', 'salary': None, 'region': 'Санкт-Петербург'}
{'title': 'Middle/Senior Python-разработчик в команду Добычи данных', 'work experience': 'Более 6 лет', 'salary': None, 'region': 'Краснодар'}
{'title': 'Senior Python разработчик', 'work experience': 'Более 6 лет', 'salary': None, 'region': 'Москва'}
{'title': 'Middle/Senior Python-разработчик в команду Добычи данных', 'work experience': 'Более 6 лет', 'salary': None, 'region': 'Пермь'}
{'title': 'Senior Python developer (MLOps)', 'work experience': 'Более 6 лет', 'salary': 'от 3 500 EUR', 'region': 'Москва'}
{'title': 'Senior backend developer (Python)', 'work experience': 'Более 6 лет', 'salary': None, 'region': 'Москва'}
{'title': 'Middle/Senior Python-разработчик в команду Добычи данных', 'work experience': 'Более 6 лет', 'salary': None, 'region': 'Казань'}
{'title': 'Senior Python developer (MLOps)', 'work experience': 'Более 6 лет', 'salary': 'от 3 500 EUR', 'region': 'Турция'}
{'title': 'Senior Python developer (MLOps)', 'work experience': 'Более 6 лет', 'salary': 'от 3 500 EUR', 'region': 'Батуми'}
{'title': 'Lead Python Developer', 'work experience': 'Более 6 лет', 'salary': '300 000 – 400 000 руб.', 'region': 'Санкт-Петербург'}
{'title': 'Python разработчик', 'work experience': 'Более 6 лет', 'salary': 'от 350 000 руб.', 'region': 'Казань'}

In [ ]:
data_list = []

In [ ]:
for i in data["data"]:
  data_list.append([i["title"],i["work experience"],i["salary"],i["region"]])

In [ ]:
data_list

[['Программист Python', 'Более 6 лет', None, 'Москва'],
 ['Программист Python (Senior)', 'Более 6 лет', 'от 300 000 руб.', 'Москва'],
 ['Python developer (Openstack)', 'Более 6 лет', None, 'Москва'],
 ['Разработчик Python', 'Более 6 лет', 'от 300 000 руб.', 'Москва'],
 ['Инженер по тестированию (Python OR C++)', 'Более 6 лет', None, 'Москва'],
 ['Senior Python Developer', 'Более 6 лет', 'от 6 000 USD', 'Армения'],
 ['Middle/Senior Python-разработчик в команду Добычи данных',
  'Более 6 лет',
  None,
  'Санкт-Петербург'],
 ['Программист баз данных и backend (PostgreSQL, Python)',
  'Более 6 лет',
  'до 300 000 руб.',
  'Москва'],
 ['Middle/Senior Python-разработчик в команду Добычи данных',
  'Более 6 лет',
  None,
  'Краснодар'],
 ['Team Lead Python', 'Более 6 лет', None, 'Москва'],
 ['Middle/Senior Python-разработчик в команду Добычи данных',
  'Более 6 лет',
  None,
  'Пермь'],
 ['Senior backend developer (Python)', 'Более 6 лет', None, 'Москва'],
 ['Senior Python разработчик', 'Более 6 лет', None, 'Москва'],
 ['Middle/Senior Python-разработчик в команду Добычи данных',
  'Более 6 лет',
  None,
  'Екатеринбург'],
 ['Middle/Senior Python-разработчик в команду Добычи данных',
  'Более 6 лет',
  None,
  'Новосибирск'],
 ['Middle/Senior Python-разработчик в команду Добычи данных',
  'Более 6 лет',
  None,
  'Казань'],
 ['Middle/Senior Python-разработчик в команду Добычи данных',
  'Более 6 лет',
  None,
  'Нижний Новгород'],
 ['Lead backend developer (Python)', 'Более 6 лет', None, 'Москва'],
 ['Senior Python Developer', 'Более 6 лет', None, 'Москва'],
 ['Senior Python developer (MLOps)', 'Более 6 лет', 'от 3 500 EUR', 'Москва'],
 ['Программист Python', 'Более 6 лет', None, 'Москва'],
 ['Программист Python', 'Более 6 лет', None, 'Москва'],
 ['Программист Python', 'Более 6 лет', None, 'Москва'],
 ['Программист Python (Senior)', 'Более 6 лет', 'от 300 000 руб.', 'Москва'],
 ['Python developer (Openstack)', 'Более 6 лет', None, 'Москва'],
 ['Разработчик Python', 'Более 6 лет', 'от 300 000 руб.', 'Москва'],
 ['Инженер по тестированию (Python OR C++)', 'Более 6 лет', None, 'Москва'],
 ['Senior Python Developer', 'Более 6 лет', 'от 6 000 USD', 'Армения'],
 ['Middle/Senior Python-разработчик в команду Добычи данных',
  'Более 6 лет',
  None,
  'Санкт-Петербург'],
 ['Программист баз данных и backend (PostgreSQL, Python)',
  'Более 6 лет',
  'до 300 000 руб.',
  'Москва'],
 ['Middle/Senior Python-разработчик в команду Добычи данных',
  'Более 6 лет',
  None,
  'Краснодар'],
 ['Team Lead Python', 'Более 6 лет', None, 'Москва'],
 ['Middle/Senior Python-разработчик в команду Добычи данных',
  'Более 6 лет',
  None,
  'Пермь'],
 ['Senior backend developer (Python)', 'Более 6 лет', None, 'Москва'],
 ['Senior Python разработчик', 'Более 6 лет', None, 'Москва'],
 ['Middle/Senior Python-разработчик в команду Добычи данных',
  'Более 6 лет',
  None,
  'Екатеринбург'],
 ['Middle/Senior Python-разработчик в команду Добычи данных',
  'Более 6 лет',
  None,
  'Новосибирск'],
 ['Middle/Senior Python-разработчик в команду Добычи данных',
  'Более 6 лет',
  None,
  'Казань'],
 ['Middle/Senior Python-разработчик в команду Добычи данных',
  'Более 6 лет',
  None,
  'Нижний Новгород'],
 ['Lead backend developer (Python)', 'Более 6 лет', None, 'Москва'],
 ['Senior Python Developer', 'Более 6 лет', None, 'Москва'],
 ['Senior Python developer (MLOps)', 'Более 6 лет', 'от 3 500 EUR', 'Москва'],
 ['Программист Python', 'Более 6 лет', None, 'Москва'],
 ['Программист Python (Senior)', 'Более 6 лет', 'от 300 000 руб.', 'Москва'],
 ['Python developer (Openstack)', 'Более 6 лет', None, 'Москва'],
 ['Разработчик Python', 'Более 6 лет', 'от 300 000 руб.', 'Москва'],
 ['Инженер по тестированию (Python OR C++)', 'Более 6 лет', None, 'Москва'],
 ['Senior Python Developer', 'Более 6 лет', 'от 6 000 USD', 'Армения'],
 ['Middle/Senior Python-разработчик в команду Добычи данных',
  'Более 6 лет',
  None,
  'Санкт-Петербург'],
 ['Программист баз данных и backend (PostgreSQL, Python)',
  'Более 6 лет',
  'до 300 000 руб.',
  'Москва'],
 ['Middle/Senior Python-разработчик в команду Добычи данных',
  'Более 6 лет',
  None,
  'Краснодар'],
 ['Team Lead Python', 'Более 6 лет', None, 'Москва'],
 ['Middle/Senior Python-разработчик в команду Добычи данных',
  'Более 6 лет',
  None,
  'Пермь'],
 ['Senior backend developer (Python)', 'Более 6 лет', None, 'Москва'],
 ['Senior Python разработчик', 'Более 6 лет', None, 'Москва'],
 ['Middle/Senior Python-разработчик в команду Добычи данных',
  'Более 6 лет',
  None,
  'Екатеринбург'],
 ['Middle/Senior Python-разработчик в команду Добычи данных',
  'Более 6 лет',
  None,
  'Новосибирск'],
 ['Middle/Senior Python-разработчик в команду Добычи данных',
  'Более 6 лет',
  None,
  'Казань'],
 ['Middle/Senior Python-разработчик в команду Добычи данных',
  'Более 6 лет',
  None,
  'Нижний Новгород'],
 ['Lead backend developer (Python)', 'Более 6 лет', None, 'Москва'],
 ['Senior Python Developer', 'Более 6 лет', None, 'Москва'],
 ['Senior Python developer (MLOps)', 'Более 6 лет', 'от 3 500 EUR', 'Москва'],
 ['Программист Python', 'Более 6 лет', None, 'Москва'],
 ['Программист Python (Senior)', 'Более 6 лет', 'от 300 000 руб.', 'Москва'],
 ['Python developer (Openstack)', 'Более 6 лет', None, 'Москва'],
 ['Разработчик Python', 'Более 6 лет', 'от 300 000 руб.', 'Москва'],
 ['Инженер по тестированию (Python OR C++)', 'Более 6 лет', None, 'Москва'],
 ['Senior Python Developer', 'Более 6 лет', 'от 6 000 USD', 'Армения'],
 ['Middle/Senior Python-разработчик в команду Добычи данных',
  'Более 6 лет',
  None,
  'Санкт-Петербург'],
 ['Программист баз данных и backend (PostgreSQL, Python)',
  'Более 6 лет',
  'до 300 000 руб.',
  'Москва'],
 ['Middle/Senior Python-разработчик в команду Добычи данных',
  'Более 6 лет',
  None,
  'Краснодар'],
 ['Team Lead Python', 'Более 6 лет', None, 'Москва'],
 ['Middle/Senior Python-разработчик в команду Добычи данных',
  'Более 6 лет',
  None,
  'Пермь'],
 ['Senior backend developer (Python)', 'Более 6 лет', None, 'Москва'],
 ['Senior Python разработчик', 'Более 6 лет', None, 'Москва'],
 ['Middle/Senior Python-разработчик в команду Добычи данных',
  'Более 6 лет',
  None,
  'Екатеринбург'],
 ['Middle/Senior Python-разработчик в команду Добычи данных',
  'Более 6 лет',
  None,
  'Новосибирск'],
 ['Middle/Senior Python-разработчик в команду Добычи данных',
  'Более 6 лет',
  None,
  'Казань'],
 ['Middle/Senior Python-разработчик в команду Добычи данных',
  'Более 6 лет',
  None,
  'Нижний Новгород'],
 ['Lead backend developer (Python)', 'Более 6 лет', None, 'Москва'],
 ['Senior Python Developer', 'Более 6 лет', None, 'Москва'],
 ['Senior Python developer (MLOps)', 'Более 6 лет', 'от 3 500 EUR', 'Москва'],
 ['Программист Python', 'Более 6 лет', None, 'Москва'],
 ['Программист Python (Senior)', 'Более 6 лет', 'от 300 000 руб.', 'Москва'],
 ['Python developer (Openstack)', 'Более 6 лет', None, 'Москва'],
 ['Разработчик Python', 'Более 6 лет', 'от 300 000 руб.', 'Москва'],
 ['Инженер по тестированию (Python OR C++)', 'Более 6 лет', None, 'Москва'],
 ['Senior Python Developer', 'Более 6 лет', 'от 6 000 USD', 'Армения'],
 ['Middle/Senior Python-разработчик в команду Добычи данных',
  'Более 6 лет',
  None,
  'Санкт-Петербург'],
 ['Программист баз данных и backend (PostgreSQL, Python)',
  'Более 6 лет',
  'до 300 000 руб.',
  'Москва'],
 ['Middle/Senior Python-разработчик в команду Добычи данных',
  'Более 6 лет',
  None,
  'Краснодар'],
 ['Team Lead Python', 'Более 6 лет', None, 'Москва'],
 ['Middle/Senior Python-разработчик в команду Добычи данных',
  'Более 6 лет',
  None,
  'Пермь'],
 ['Senior backend developer (Python)', 'Более 6 лет', None, 'Москва'],
 ['Senior Python разработчик', 'Более 6 лет', None, 'Москва'],
 ['Middle/Senior Python-разработчик в команду Добычи данных',
  'Более 6 лет',
  None,
  'Екатеринбург'],
 ['Middle/Senior Python-разработчик в команду Добычи данных',
  'Более 6 лет',
  None,
  'Новосибирск'],
 ['Middle/Senior Python-разработчик в команду Добычи данных',
  'Более 6 лет',
  None,
  'Казань'],
 ['Middle/Senior Python-разработчик в команду Добычи данных',
  'Более 6 лет',
  None,
  'Нижний Новгород'],
 ['Lead backend developer (Python)', 'Более 6 лет', None, 'Москва'],
 ['Senior Python Developer', 'Более 6 лет', None, 'Москва'],
 ['Senior Python developer (MLOps)', 'Более 6 лет', 'от 3 500 EUR', 'Москва'],
 ['Программист Python', 'Более 6 лет', None, 'Москва'],
 ['Программист Python (Senior)', 'Более 6 лет', 'от 300 000 руб.', 'Москва'],
 ['Python developer (Openstack)', 'Более 6 лет', None, 'Москва'],
 ['Разработчик Python', 'Более 6 лет', 'от 300 000 руб.', 'Москва'],
 ['Инженер по тестированию (Python OR C++)', 'Более 6 лет', None, 'Москва'],
 ['Senior Python Developer', 'Более 6 лет', 'от 6 000 USD', 'Армения'],
 ['Middle/Senior Python-разработчик в команду Добычи данных',
  'Более 6 лет',
  None,
  'Санкт-Петербург'],
 ['Программист баз данных и backend (PostgreSQL, Python)',
  'Более 6 лет',
  'до 300 000 руб.',
  'Москва'],
 ['Middle/Senior Python-разработчик в команду Добычи данных',
  'Более 6 лет',
  None,
  'Краснодар'],
 ['Team Lead Python', 'Более 6 лет', None, 'Москва'],
 ['Middle/Senior Python-разработчик в команду Добычи данных',
  'Более 6 лет',
  None,
  'Пермь'],
 ['Senior backend developer (Python)', 'Более 6 лет', None, 'Москва'],
 ['Senior Python разработчик', 'Более 6 лет', None, 'Москва'],
 ['Middle/Senior Python-разработчик в команду Добычи данных',
  'Более 6 лет',
  None,
  'Екатеринбург'],
 ['Middle/Senior Python-разработчик в команду Добычи данных',
  'Более 6 лет',
  None,
  'Новосибирск'],
 ['Middle/Senior Python-разработчик в команду Добычи данных',
  'Более 6 лет',
  None,
  'Казань'],
 ['Middle/Senior Python-разработчик в команду Добычи данных',
  'Более 6 лет',
  None,
  'Нижний Новгород'],
 ['Lead backend developer (Python)', 'Более 6 лет', None, 'Москва'],
 ['Senior Python Developer', 'Более 6 лет', None, 'Москва'],
 ['Senior Python developer (MLOps)', 'Более 6 лет', 'от 3 500 EUR', 'Москва'],
 ['Программист Python', 'Более 6 лет', None, 'Москва'],
 ['Программист Python (Senior)', 'Более 6 лет', 'от 300 000 руб.', 'Москва'],
 ['Python developer (Openstack)', 'Более 6 лет', None, 'Москва'],
 ['Разработчик Python', 'Более 6 лет', 'от 300 000 руб.', 'Москва'],
 ['Инженер по тестированию (Python OR C++)', 'Более 6 лет', None, 'Москва'],
 ['Senior Python Developer', 'Более 6 лет', 'от 6 000 USD', 'Армения'],
 ['Middle/Senior Python-разработчик в команду Добычи данных',
  'Более 6 лет',
  None,
  'Санкт-Петербург'],
 ['Программист баз данных и backend (PostgreSQL, Python)',
  'Более 6 лет',
  'до 300 000 руб.',
  'Москва'],
 ['Middle/Senior Python-разработчик в команду Добычи данных',
  'Более 6 лет',
  None,
  'Краснодар'],
 ['Team Lead Python', 'Более 6 лет', None, 'Москва'],
 ['Middle/Senior Python-разработчик в команду Добычи данных',
  'Более 6 лет',
  None,
  'Пермь'],
 ['Senior backend developer (Python)', 'Более 6 лет', None, 'Москва'],
 ['Senior Python разработчик', 'Более 6 лет', None, 'Москва'],
 ['Middle/Senior Python-разработчик в команду Добычи данных',
  'Более 6 лет',
  None,
  'Екатеринбург'],
 ['Middle/Senior Python-разработчик в команду Добычи данных',
  'Более 6 лет',
  None,
  'Новосибирск'],
 ['Middle/Senior Python-разработчик в команду Добычи данных',
  'Более 6 лет',
  None,
  'Казань'],
 ['Middle/Senior Python-разработчик в команду Добычи данных',
  'Более 6 лет',
  None,
  'Нижний Новгород'],
 ['Lead backend developer (Python)', 'Более 6 лет', None, 'Москва'],
 ['Senior Python Developer', 'Более 6 лет', None, 'Москва'],
 ['Senior Python developer (MLOps)', 'Более 6 лет', 'от 3 500 EUR', 'Москва'],
 ['Программист Python (Senior)', 'Более 6 лет', 'от 300 000 руб.', 'Москва'],
 ['Программист Python', 'Более 6 лет', None, 'Москва'],
 ['Разработчик Python', 'Более 6 лет', 'от 300 000 руб.', 'Москва'],
 ['Senior Python Developer', 'Более 6 лет', 'от 6 000 USD', 'Армения'],
 ['Python developer (Openstack)', 'Более 6 лет', None, 'Москва'],
 ['Middle/Senior Python-разработчик в команду Добычи данных',
  'Более 6 лет',
  None,
  'Санкт-Петербург'],
 ['Middle/Senior Python-разработчик в команду Добычи данных',
  'Более 6 лет',
  None,
  'Краснодар'],
 ['Senior Python разработчик', 'Более 6 лет', None, 'Москва'],
 ['Middle/Senior Python-разработчик в команду Добычи данных',
  'Более 6 лет',
  None,
  'Пермь'],
 ['Senior Python developer (MLOps)', 'Более 6 лет', 'от 3 500 EUR', 'Москва'],
 ['Senior backend developer (Python)', 'Более 6 лет', None, 'Москва'],
 ['Middle/Senior Python-разработчик в команду Добычи данных',
  'Более 6 лет',
  None,
  'Казань'],
 ['Senior Python developer (MLOps)', 'Более 6 лет', 'от 3 500 EUR', 'Турция'],
 ['Senior Python developer (MLOps)', 'Более 6 лет', 'от 3 500 EUR', 'Батуми'],
 ['Lead Python Developer',
  'Более 6 лет',
  '300 000 – 400 000 руб.',
  'Санкт-Петербург'],
 ['Python разработчик', 'Более 6 лет', 'от 350 000 руб.', 'Казань'],
 ['Software engineer (Python)',
  'Более 6 лет',
  '300 000 – 500 000 руб.',
  'Москва'],
 ['Middle+/Senior Python Developer / Python разработчик (backend)',
  'Более 6 лет',
  '150 000 – 300 000 руб.',
  'Москва'],
 ['Python Backend Engineer (ML Platform)',
  'Более 6 лет',
  '7 000 – 9 000 USD',
  'Москва'],
 ['Senior python developer',
  'Более 6 лет',
  '250 000 – 270 000 руб.',
  'Москва'],
 ['Manager, Site Reliability Engineering (to Canada/Serbia)',
  'Более 6 лет',
  'от 9 500 USD',
  'Санкт-Петербург'],
 ['Senior Data Engineer - POI', 'Более 6 лет', None, 'Минск'],
 ['Ведущий разработчик RTL', 'Более 6 лет', None, 'Москва'],
 ['C++ team lead (Telco) Georgia/Europe', 'Более 6 лет', None, 'Тбилиси'],
 ['Infrastructure engineer', 'Более 6 лет', '6 500 – 8 500 USD', 'Москва'],
 ['Senior Software Engineer for Design Platform',
  'Более 6 лет',
  None,
  'Москва'],
 ['Программист микроконтроллеров', 'Более 6 лет', None, 'Зеленоград'],
 ['Тимлид в команду низкоуровневой разработки внутреннего облака Яндекса',
  'Более 6 лет',
  None,
  'Москва'],
 ['High-Speed Hardware Design Engineer', 'Более 6 лет', None, 'Батуми'],
 ['Тимлид в команду низкоуровневой разработки внутреннего облака Яндекса',
  'Более 6 лет',
  None,
  'Нижний Новгород'],
 ['Lead Java Software Engineer (Remote)', 'Более 6 лет', None, 'Москва'],
 ['High-Speed Hardware Design Engineer', 'Более 6 лет', None, 'Тбилиси'],
 ['Ведущий ITSM разработчик', 'Более 6 лет', None, 'Минск'],
 ['Lead DevOps', 'Более 6 лет', None, 'Санкт-Петербург'],
 ['Senior Fullstack Developer', 'Более 6 лет', None, 'Москва'],
 ['Архитектор Big Data', 'Более 6 лет', None, 'Москва'],
 ['Senior Network Engineer/Architect', 'Более 6 лет', None, 'Москва'],
 ['Network Engineering&Architecture Team Lead', 'Более 6 лет', None, 'Москва'],
 ['Начальник отдела трехмерного моделирования и выпуска 3D прототипов',
  'Более 6 лет',
  None,
  'Нижний Новгород'],
 ['Руководитель подгруппы разработки Go, Собственные продажи, Управление контентом и торговлей',
  'Более 6 лет',
  None,
  'Москва'],
 ['Senior C++ Browser Engineer (relocation to EU)',
  'Более 6 лет',
  None,
  'Москва'],
 ['Senior C++ Browser Engineer (relocation to EU)',
  'Более 6 лет',
  None,
  'Санкт-Петербург'],
 ['Group Manager (Advanced Technologies and Performance Analysis)',
  'Более 6 лет',
  None,
  'Москва'],
 ['Senior Manager Data Analytics', 'Более 6 лет', None, 'Новосибирск'],
 ['Arch Lead', 'Более 6 лет', None, 'Москва'],
 ['Full-stack Developer', 'Более 6 лет', 'от 6 500 USD', 'Москва'],
 ['Senior Fullstack Developer', 'Более 6 лет', None, 'Москва'],
 ['Senior Software Engineer (Linux/С++)', 'Более 6 лет', None, 'Москва'],
 ['CTO / Chief technical officer Robo Dev',
  'Более 6 лет',
  '300 000 – 350 000 руб.',
  'Москва'],
 ['Senior System Engineer (Admins Team)',
  'Более 6 лет',
  'от 3 300 USD',
  'Чехия'],
 ['Senior System Engineer (Admins Team)',
  'Более 6 лет',
  'от 3 300 USD',
  'Армения'],
 ['Senior/Lead Software Engineer (.NET), Relocation: Yerevan',
  'Более 6 лет',
  '3 000 – 5 500 USD',
  'Армения'],
 ['DevOps Engineer', 'Более 6 лет', '3 700 – 4 700 USD', 'Минск'],
 ['Risk Assurance Services Manager', 'Более 6 лет', None, 'Ташкент']]

In [ ]:
import pandas as pd

In [ ]:
data["data"][0].keys()

dict_keys(['title', 'work experience', 'salary', 'region'])

In [ ]:
df = pd.DataFrame(data_list,columns=data["data"][0].keys())

In [ ]:
df

,title,work experience,salary,region
0,Программист Python,Более 6 лет,None,Москва
1,Программист Python (Senior),Более 6 лет,от 300 000 руб.,Москва
2,Python developer (Openstack),Более 6 лет,None,Москва
3,Разработчик Python,Более 6 лет,от 300 000 руб.,Москва
4,Инженер по тестированию (Python OR C++),Более 6 лет,None,Москва
...,...,...,...,...
191,Senior System Engineer (Admins Team),Более 6 лет,от 3 300 USD,Чехия
192,Senior System Engineer (Admins Team),Более 6 лет,от 3 300 USD,Армения
193,"Senior/Lead Software Engineer (.NET), Relocati...",Более 6 лет,3 000 – 5 500 USD,Армения
194,DevOps Engineer,Более 6 лет,3 700 – 4 700 USD,Минск
195,Risk Assurance Services Manager,Более 6 лет,None,Ташкент

# Импорт с kaggle

In [ ]:
import pandas as pd
df2 = pd.read_csv("/content/ds_salaries.csv",index_col="Unnamed: 0")

In [ ]:
df2

,work_year,experience_level,employment_type,job_title,salary,salary_currency,salary_in_usd,employee_residence,remote_ratio,company_location,company_size
0,2020,MI,FT,Data Scientist,70000,EUR,79833,DE,0,DE,L
1,2020,SE,FT,Machine Learning Scientist,260000,USD,260000,JP,0,JP,S
2,2020,SE,FT,Big Data Engineer,85000,GBP,109024,GB,50,GB,M
3,2020,MI,FT,Product Data Analyst,20000,USD,20000,HN,0,HN,S
4,2020,SE,FT,Machine Learning Engineer,150000,USD,150000,US,50,US,L
...,...,...,...,...,...,...,...,...,...,...,...
602,2022,SE,FT,Data Engineer,154000,USD,154000,US,100,US,M
603,2022,SE,FT,Data Engineer,126000,USD,126000,US,100,US,M
604,2022,SE,FT,Data Analyst,129000,USD,129000,US,0,US,M
605,2022,SE,FT,Data Analyst,150000,USD,150000,US,100,US,M
606,2022,MI,FT,AI Scientist,200000,USD,200000,IN,100,US,L

In [ ]:
df2.iloc[3, 3] # пример вывода значения

'Product Data Analyst'

# Выполнение задания:

In [ ]:
# Список всех вопросов:

#1 Сгруппируйте вакансии по направлениями (DS, DE, Software Engenering, etc.)
#2 Какая средняя и медианная зарплата по группам вакансий?
#3 Какая средняя и медианная зарплата по каждому региону?
#4 Какая самая высокооплачиваемая из групп вакансий, исходя из их средних зарплат?
#5 Какое процентное соотношение каждого региона по вакансиям от всех вакансий?
#6 Какая корреляция уровня опыта от зарплаты?
#7 Сколько должностей в наборе данных?
#8 Какие 10 наиболее часто встречающихся должностей?

In [ ]:
# PS. далее буду использовать данные kaggle, но можно легко поменять на те, что в из файла json

## 1. Сгруппируйте вакансии по направлениями (DS, DE, Software Engenering, etc.)

In [ ]:
df2.groupby("job_title").count()

,work_year,experience_level,employment_type,salary,salary_currency,salary_in_usd,employee_residence,remote_ratio,company_location,company_size
job_title,,,,,,,,,,
3D Computer Vision Researcher,1,1,1,1,1,1,1,1,1,1
AI Scientist,7,7,7,7,7,7,7,7,7,7
Analytics Engineer,4,4,4,4,4,4,4,4,4,4
Applied Data Scientist,5,5,5,5,5,5,5,5,5,5
Applied Machine Learning Scientist,4,4,4,4,4,4,4,4,4,4
BI Data Analyst,6,6,6,6,6,6,6,6,6,6
Big Data Architect,1,1,1,1,1,1,1,1,1,1
Big Data Engineer,8,8,8,8,8,8,8,8,8,8
Business Data Analyst,5,5,5,5,5,5,5,5,5,5
Cloud Data Engineer,2,2,2,2,2,2,2,2,2,2
Computer Vision Engineer,6,6,6,6,6,6,6,6,6,6
Computer Vision Software Engineer,3,3,3,3,3,3,3,3,3,3
Data Analyst,97,97,97,97,97,97,97,97,97,97
Data Analytics Engineer,4,4,4,4,4,4,4,4,4,4
Data Analytics Lead,1,1,1,1,1,1,1,1,1,1
Data Analytics Manager,7,7,7,7,7,7,7,7,7,7
Data Architect,11,11,11,11,11,11,11,11,11,11
Data Engineer,132,132,132,132,132,132,132,132,132,132
Data Engineering Manager,5,5,5,5,5,5,5,5,5,5
Data Science Consultant,7,7,7,7,7,7,7,7,7,7
Data Science Engineer,3,3,3,3,3,3,3,3,3,3
Data Science Manager,12,12,12,12,12,12,12,12,12,12
Data Scientist,143,143,143,143,143,143,143,143,143,143
Data Specialist,1,1,1,1,1,1,1,1,1,1
Director of Data Engineering,2,2,2,2,2,2,2,2,2,2
Director of Data Science,7,7,7,7,7,7,7,7,7,7
ETL Developer,2,2,2,2,2,2,2,2,2,2
Finance Data Analyst,1,1,1,1,1,1,1,1,1,1
Financial Data Analyst,2,2,2,2,2,2,2,2,2,2
Head of Data,5,5,5,5,5,5,5,5,5,5
Head of Data Science,4,4,4,4,4,4,4,4,4,4
Head of Machine Learning,1,1,1,1,1,1,1,1,1,1
Lead Data Analyst,3,3,3,3,3,3,3,3,3,3
Lead Data Engineer,6,6,6,6,6,6,6,6,6,6
Lead Data Scientist,3,3,3,3,3,3,3,3,3,3
Lead Machine Learning Engineer,1,1,1,1,1,1,1,1,1,1
ML Engineer,6,6,6,6,6,6,6,6,6,6
Machine Learning Developer,3,3,3,3,3,3,3,3,3,3
Machine Learning Engineer,41,41,41,41,41,41,41,41,41,41
Machine Learning Infrastructure Engineer,3,3,3,3,3,3,3,3,3,3
Machine Learning Manager,1,1,1,1,1,1,1,1,1,1
Machine Learning Scientist,8,8,8,8,8,8,8,8,8,8
Marketing Data Analyst,1,1,1,1,1,1,1,1,1,1
NLP Engineer,1,1,1,1,1,1,1,1,1,1
Principal Data Analyst,2,2,2,2,2,2,2,2,2,2
Principal Data Engineer,3,3,3,3,3,3,3,3,3,3
Principal Data Scientist,7,7,7,7,7,7,7,7,7,7
Product Data Analyst,2,2,2,2,2,2,2,2,2,2
Research Scientist,16,16,16,16,16,16,16,16,16,16
Staff Data Scientist,1,1,1,1,1,1,1,1,1,1

In [ ]:
df2[df2["job_title"]=="Data Scientist"].work_year.count()  # кол-во Data Scientist

143

In [ ]:
df2.job_title.count() # всего вакансий

607

##2. Какая средняя и медианная зарплата по группам вакансий?

In [ ]:
# средняя зарплата в USD по группам вакансий

In [ ]:
#round(df2.groupby("job_title").salary.sum() / df2.groupby("job_title").salary.count(),2)
# можно и верхним способом, ответ одинаковый

round(df2.groupby("job_title").salary_in_usd.mean(),2)

job_title
3D Computer Vision Researcher                 5409.00
AI Scientist                                 66135.57
Analytics Engineer                          175000.00
Applied Data Scientist                      175655.00
Applied Machine Learning Scientist          142068.75
BI Data Analyst                              74755.17
Big Data Architect                           99703.00
Big Data Engineer                            51974.00
Business Data Analyst                        76691.20
Cloud Data Engineer                         124647.00
Computer Vision Engineer                     44419.33
Computer Vision Software Engineer           105248.67
Data Analyst                                 92893.06
Data Analytics Engineer                      64799.25
Data Analytics Lead                         405000.00
Data Analytics Manager                      127134.29
Data Architect                              177873.91
Data Engineer                               112725.00
Data Engineering Manager                    123227.20
Data Science Consultant                      69420.71
Data Science Engineer                        75803.33
Data Science Manager                        158328.50
Data Scientist                              108187.83
Data Specialist                             165000.00
Director of Data Engineering                156738.00
Director of Data Science                    195074.00
ETL Developer                                54957.00
Finance Data Analyst                         61896.00
Financial Data Analyst                      275000.00
Head of Data                                160162.60
Head of Data Science                        146718.75
Head of Machine Learning                     79039.00
Lead Data Analyst                            92203.00
Lead Data Engineer                          139724.50
Lead Data Scientist                         115190.00
Lead Machine Learning Engineer               87932.00
ML Engineer                                 117504.00
Machine Learning Developer                   85860.67
Machine Learning Engineer                   104880.15
Machine Learning Infrastructure Engineer    101145.00
Machine Learning Manager                    117104.00
Machine Learning Scientist                  158412.50
Marketing Data Analyst                       88654.00
NLP Engineer                                 37236.00
Principal Data Analyst                      122500.00
Principal Data Engineer                     328333.33
Principal Data Scientist                    215242.43
Product Data Analyst                         13036.00
Research Scientist                          109019.50
Staff Data Scientist                        105000.00
Name: salary_in_usd, dtype: float64

In [ ]:
# минимальная зарплата по группам вакансий:

In [ ]:
df2.groupby("job_title").salary_in_usd.min()

job_title
3D Computer Vision Researcher                 5409
AI Scientist                                 12000
Analytics Engineer                          135000
Applied Data Scientist                       54238
Applied Machine Learning Scientist           31875
BI Data Analyst                               9272
Big Data Architect                           99703
Big Data Engineer                             5882
Business Data Analyst                        18442
Cloud Data Engineer                          89294
Computer Vision Engineer                     10000
Computer Vision Software Engineer            70000
Data Analyst                                  6072
Data Analytics Engineer                      20000
Data Analytics Lead                         405000
Data Analytics Manager                      105400
Data Architect                               90700
Data Engineer                                 4000
Data Engineering Manager                     59303
Data Science Consultant                       5707
Data Science Engineer                        40189
Data Science Manager                         54094
Data Scientist                                2859
Data Specialist                             165000
Director of Data Engineering                113476
Director of Data Science                    130026
ETL Developer                                54957
Finance Data Analyst                         61896
Financial Data Analyst                      100000
Head of Data                                 32974
Head of Data Science                         85000
Head of Machine Learning                     79039
Lead Data Analyst                            19609
Lead Data Engineer                           56000
Lead Data Scientist                          40570
Lead Machine Learning Engineer               87932
ML Engineer                                  15966
Machine Learning Developer                   78791
Machine Learning Engineer                    20000
Machine Learning Infrastructure Engineer     50180
Machine Learning Manager                    117104
Machine Learning Scientist                   12000
Marketing Data Analyst                       88654
NLP Engineer                                 37236
Principal Data Analyst                       75000
Principal Data Engineer                     185000
Principal Data Scientist                    148261
Product Data Analyst                          6072
Research Scientist                           42000
Staff Data Scientist                        105000
Name: salary_in_usd, dtype: int64

##3. Какая средняя и медианная зарплата по каждому региону?

In [ ]:
# за регион выбрала расположение компании company_location
# можно было по employee_residence, не знала что выбрать, остановилась на расположении компании

In [ ]:
# средняя зп по региону в долларах

In [ ]:
round(df2.groupby("company_location").salary_in_usd.mean(),2)

company_location
AE    100000.00
AS     18053.00
AT     72920.75
AU    108042.67
BE     85699.00
BR     18602.67
CA     99823.73
CH     64114.00
CL     40038.00
CN     71665.50
CO     21844.00
CZ     50937.00
DE     81887.21
DK     54386.33
DZ    100000.00
EE     32974.00
ES     53060.14
FR     63970.67
GB     81583.04
GR     52293.09
HN     20000.00
HR     45618.00
HU     35735.00
IE     71444.00
IL    119059.00
IN     28581.75
IQ    100000.00
IR      4000.00
IT     36366.50
JP    114127.33
KE      9272.00
LU     43942.67
MD     18000.00
MT     28369.00
MX     32123.33
MY     40000.00
NG     30000.00
NL     54945.75
NZ    125000.00
PK     13333.33
PL     66082.50
PT     47793.75
RO     60000.00
RU    157500.00
SG     89294.00
SI     63831.00
TR     20096.67
UA     13400.00
US    144055.26
VN      4000.00
Name: salary_in_usd, dtype: float64

In [ ]:
# минимальная по региону

In [ ]:
df2.groupby("company_location").salary_in_usd.min()

company_location
AE     65000
AS     18053
AT     61467
AU     86703
BE     82744
BR     12901
CA     52000
CH      5882
CL     40038
CN     43331
CO     21844
CZ     31875
DE     15966
DK     28609
DZ    100000
EE     32974
ES     10354
FR     36643
GB     37300
GR     20000
HN     20000
HR     45618
HU     35735
IE     71444
IL    119059
IN      5409
IQ    100000
IR      4000
IT     21669
JP     41689
KE      9272
LU     10000
MD     18000
MT     28369
MX      2859
MY     40000
NG     10000
NL     42000
NZ    125000
PK      8000
PL     28476
PT     21983
RO     60000
RU     85000
SG     89294
SI     24823
TR     12103
UA     13400
US      5679
VN      4000
Name: salary_in_usd, dtype: int64

In [ ]:
# df2.groupby("company_location").salary_in_usd.count()
# проверка кол-ва вакансий по региону

##4. Какая самая высокооплачиваемая из групп вакансий, исходя из их средних зарплат?

In [ ]:
# вспомним таблицу со средними зарплатами из пункта 2

In [ ]:
round(df2.groupby("job_title").salary_in_usd.mean(),2)

job_title
3D Computer Vision Researcher                 5409.00
AI Scientist                                 66135.57
Analytics Engineer                          175000.00
Applied Data Scientist                      175655.00
Applied Machine Learning Scientist          142068.75
BI Data Analyst                              74755.17
Big Data Architect                           99703.00
Big Data Engineer                            51974.00
Business Data Analyst                        76691.20
Cloud Data Engineer                         124647.00
Computer Vision Engineer                     44419.33
Computer Vision Software Engineer           105248.67
Data Analyst                                 92893.06
Data Analytics Engineer                      64799.25
Data Analytics Lead                         405000.00
Data Analytics Manager                      127134.29
Data Architect                              177873.91
Data Engineer                               112725.00
Data Engineering Manager                    123227.20
Data Science Consultant                      69420.71
Data Science Engineer                        75803.33
Data Science Manager                        158328.50
Data Scientist                              108187.83
Data Specialist                             165000.00
Director of Data Engineering                156738.00
Director of Data Science                    195074.00
ETL Developer                                54957.00
Finance Data Analyst                         61896.00
Financial Data Analyst                      275000.00
Head of Data                                160162.60
Head of Data Science                        146718.75
Head of Machine Learning                     79039.00
Lead Data Analyst                            92203.00
Lead Data Engineer                          139724.50
Lead Data Scientist                         115190.00
Lead Machine Learning Engineer               87932.00
ML Engineer                                 117504.00
Machine Learning Developer                   85860.67
Machine Learning Engineer                   104880.15
Machine Learning Infrastructure Engineer    101145.00
Machine Learning Manager                    117104.00
Machine Learning Scientist                  158412.50
Marketing Data Analyst                       88654.00
NLP Engineer                                 37236.00
Principal Data Analyst                      122500.00
Principal Data Engineer                     328333.33
Principal Data Scientist                    215242.43
Product Data Analyst                         13036.00
Research Scientist                          109019.50
Staff Data Scientist                        105000.00
Name: salary_in_usd, dtype: float64

In [ ]:
round(df2.groupby("job_title").salary_in_usd.mean(),2).max() # маскимальная средняя зарплата

405000.0

In [ ]:
# Ответ:

In [ ]:
df2.groupby("job_title").salary_in_usd.mean().idxmax() # вакансия с макс средней зп

'Data Analytics Lead'

## 5. Какое процентное соотношение каждого региона по вакансиям от всех вакансий?

In [ ]:
# вспомним нашу таблицу

In [ ]:
df2.company_location.count() # всего

607

In [ ]:
df2.groupby("company_location").salary_in_usd.count() # кол-во вакансий по регионам

company_location
AE      3
AS      1
AT      4
AU      3
BE      2
BR      3
CA     30
CH      2
CL      1
CN      2
CO      1
CZ      2
DE     28
DK      3
DZ      1
EE      1
ES     14
FR     15
GB     47
GR     11
HN      1
HR      1
HU      1
IE      1
IL      1
IN     24
IQ      1
IR      1
IT      2
JP      6
KE      1
LU      3
MD      1
MT      1
MX      3
MY      1
NG      2
NL      4
NZ      1
PK      3
PL      4
PT      4
RO      1
RU      2
SG      1
SI      2
TR      3
UA      1
US    355
VN      1
Name: salary_in_usd, dtype: int64

In [ ]:
df2.groupby("company_location").salary_in_usd.count()*100/df2.company_location.count() # в процентах

company_location
AE     0.494234
AS     0.164745
AT     0.658979
AU     0.494234
BE     0.329489
BR     0.494234
CA     4.942339
CH     0.329489
CL     0.164745
CN     0.329489
CO     0.164745
CZ     0.329489
DE     4.612850
DK     0.494234
DZ     0.164745
EE     0.164745
ES     2.306425
FR     2.471170
GB     7.742998
GR     1.812191
HN     0.164745
HR     0.164745
HU     0.164745
IE     0.164745
IL     0.164745
IN     3.953871
IQ     0.164745
IR     0.164745
IT     0.329489
JP     0.988468
KE     0.164745
LU     0.494234
MD     0.164745
MT     0.164745
MX     0.494234
MY     0.164745
NG     0.329489
NL     0.658979
NZ     0.164745
PK     0.494234
PL     0.658979
PT     0.658979
RO     0.164745
RU     0.329489
SG     0.164745
SI     0.329489
TR     0.494234
UA     0.164745
US    58.484349
VN     0.164745
Name: salary_in_usd, dtype: float64

In [ ]:
# В US получилось больше всего вакансий, больше половины от всех

## 6. Какая корреляция уровня опыта от зарплаты?

In [ ]:
df_cor=pd.DataFrame(df2, columns = ["experience_level","salary_in_usd"])

In [ ]:
df_cor2=pd.DataFrame(df2, columns = ["experience_level","salary_in_usd","exp"])

In [ ]:
df_cor

    experience_level  salary_in_usd
0                 MI          79833
1                 SE         260000
2                 SE         109024
3                 MI          20000
4                 SE         150000
..               ...            ...
602               SE         154000
603               SE         126000
604               SE         129000
605               SE         150000
606               MI         200000

[607 rows x 2 columns]

In [ ]:
df2.work_year.count()

607

In [ ]:
df_cor.groupby("experience_level").salary_in_usd.mean()

experience_level
EN     61643.318182
EX    199392.038462
MI     87996.056338
SE    138617.292857
Name: salary_in_usd, dtype: float64

In [ ]:
for i in range(df2.work_year.count()):
  if df_cor2.iloc[i,0]=="EN":
    df_cor2.iloc[i,2]=1
  elif df_cor2.iloc[i,0]=="MI":
    df_cor2.iloc[i,2]=2
  elif df_cor2.iloc[i,0]=="SE":
    df_cor2.iloc[i,2]=3
  elif df_cor2.iloc[i,0]=="EX":
    df_cor2.iloc[i,2]=4

In [ ]:
df_cor3=pd.DataFrame(df_cor2, columns = ["exp","salary_in_usd"])

In [ ]:
df_cor2.groupby("exp").salary_in_usd.mean()

exp
0.0     61643.318182
1.0     87996.056338
2.0    138617.292857
3.0    199392.038462
Name: salary_in_usd, dtype: float64

In [ ]:
df_cor3.corr()

                    exp  salary_in_usd
exp            1.000000       0.484233
salary_in_usd  0.484233       1.000000

##7. Сколько должностей в наборе данных?

In [ ]:
df2.groupby("job_title").job_title.count()

job_title
3D Computer Vision Researcher                 1
AI Scientist                                  7
Analytics Engineer                            4
Applied Data Scientist                        5
Applied Machine Learning Scientist            4
BI Data Analyst                               6
Big Data Architect                            1
Big Data Engineer                             8
Business Data Analyst                         5
Cloud Data Engineer                           2
Computer Vision Engineer                      6
Computer Vision Software Engineer             3
Data Analyst                                 97
Data Analytics Engineer                       4
Data Analytics Lead                           1
Data Analytics Manager                        7
Data Architect                               11
Data Engineer                               132
Data Engineering Manager                      5
Data Science Consultant                       7
Data Science Engineer                         3
Data Science Manager                         12
Data Scientist                              143
Data Specialist                               1
Director of Data Engineering                  2
Director of Data Science                      7
ETL Developer                                 2
Finance Data Analyst                          1
Financial Data Analyst                        2
Head of Data                                  5
Head of Data Science                          4
Head of Machine Learning                      1
Lead Data Analyst                             3
Lead Data Engineer                            6
Lead Data Scientist                           3
Lead Machine Learning Engineer                1
ML Engineer                                   6
Machine Learning Developer                    3
Machine Learning Engineer                    41
Machine Learning Infrastructure Engineer      3
Machine Learning Manager                      1
Machine Learning Scientist                    8
Marketing Data Analyst                        1
NLP Engineer                                  1
Principal Data Analyst                        2
Principal Data Engineer                       3
Principal Data Scientist                      7
Product Data Analyst                          2
Research Scientist                           16
Staff Data Scientist                          1
Name: job_title, dtype: int64

In [ ]:
job_names = list(df2.job_title)

In [ ]:
#for i in range(len(job_names)):
#  print(job_names[i])

In [ ]:
#job_names_dict = {}

In [ ]:
job_names_dict = {}
j_nam_count = 0
for i in job_names:
  if i in job_names_dict:
    job_names_dict[i] +=1
  else:
    job_names_dict[i]=1
    j_nam_count +=1

In [ ]:
job_names_dict

{'Data Scientist': 143,
 'Machine Learning Scientist': 8,
 'Big Data Engineer': 8,
 'Product Data Analyst': 2,
 'Machine Learning Engineer': 41,
 'Data Analyst': 97,
 'Lead Data Scientist': 3,
 'Business Data Analyst': 5,
 'Lead Data Engineer': 6,
 'Lead Data Analyst': 3,
 'Data Engineer': 132,
 'Data Science Consultant': 7,
 'BI Data Analyst': 6,
 'Director of Data Science': 7,
 'Research Scientist': 16,
 'Machine Learning Manager': 1,
 'Data Engineering Manager': 5,
 'Machine Learning Infrastructure Engineer': 3,
 'ML Engineer': 6,
 'AI Scientist': 7,
 'Computer Vision Engineer': 6,
 'Principal Data Scientist': 7,
 'Data Science Manager': 12,
 'Head of Data': 5,
 '3D Computer Vision Researcher': 1,
 'Data Analytics Engineer': 4,
 'Applied Data Scientist': 5,
 'Marketing Data Analyst': 1,
 'Cloud Data Engineer': 2,
 'Financial Data Analyst': 2,
 'Computer Vision Software Engineer': 3,
 'Director of Data Engineering': 2,
 'Data Science Engineer': 3,
 'Principal Data Engineer': 3,
 'Machine Learning Developer': 3,
 'Applied Machine Learning Scientist': 4,
 'Data Analytics Manager': 7,
 'Head of Data Science': 4,
 'Data Specialist': 1,
 'Data Architect': 11,
 'Finance Data Analyst': 1,
 'Principal Data Analyst': 2,
 'Big Data Architect': 1,
 'Staff Data Scientist': 1,
 'Analytics Engineer': 4,
 'ETL Developer': 2,
 'Head of Machine Learning': 1,
 'NLP Engineer': 1,
 'Lead Machine Learning Engineer': 1,
 'Data Analytics Lead': 1}

In [ ]:
j_nam_count

50

In [ ]:
# Ответ: кол-во должностей всего 50

##8 Какие 10 наиболее часто встречающихся должностей?

In [ ]:
for key,value in job_names_dict.items():
  if value>7:
    print(key,value)

Data Scientist 143
Machine Learning Scientist 8
Big Data Engineer 8
Machine Learning Engineer 41
Data Analyst 97
Data Engineer 132
Research Scientist 16
Data Science Manager 12
Data Architect 11

In [ ]:
# тут 9 должностей, 10 не получитсяЮ потому что много должностей по 7 вакансий:
for key,value in job_names_dict.items():
  if value>6:
    print(key,value)

Data Scientist 143
Machine Learning Scientist 8
Big Data Engineer 8
Machine Learning Engineer 41
Data Analyst 97
Data Engineer 132
Data Science Consultant 7
Director of Data Science 7
Research Scientist 16
AI Scientist 7
Principal Data Scientist 7
Data Science Manager 12
Data Analytics Manager 7
Data Architect 11

In [ ]:
# тогда тут будет 14 вакансий, а это много